!doctype html>
<html>
<head>
<title>Home</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<link rel="stylesheet" type="text/css" href="../../../resources/public/css/pure-min.css">
<link rel="stylesheet" href="../../../resources/public/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../../../resources/public/css/style.css">
</head>
<body>
<div id="main-menu">
<!--    <div classs="pure-menu pure-menu-open pure-menu-horizontal container cls">-->
    <div class="vw-menu container cfix">
<!--    <a href="#" class="pure-menu-heading"></a>-->
        <ul>
            <li class="pure-menu-selected">
                <span class="dropdown">
                <a href="user-profile-garrett.html"><i class="fa fa-user"></i> &nbsp;Me</a>
                    <ul class="submenu" id="prof-drop">
                        <li><a href="#">My Profile</a></li>
                        <li><a href="#">My account</a></li>
                    </ul>
                </span>
            </li>
            <li><a id="home-link" href="home.html">Home</a></li>
            <li><span class="dropdown">
                    <a href="#"><i class="fa t-large fa-plus-square"></i></a>
                    <ul class="submenu" id="exp-drop">
                        <li><br/>My Organizations<br/><br/></li>
                        <li><a href="#">
                            <img src="/img/who-logo.jpg" class="avatar thumb"/><br/> WHO
                        </a></li>
                    </ul>
                </span>
            </li>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Help</a></li>
        </ul>
    </div>
</div>

<div id="content" class="container">
    <div class="row pure-g-r">
        <div class="pure-u-1-2">
            <h2>Hey <span class="username"><span></h2>
        </div>

        <div class="pure-u-1-2">
            <span class="t-normal right">My Organizations: <a href="http://www.who.int">WHO</a></span>
        </div>
    </div>

    <div class="pure-g-r">
    	<div class="pure-u-3-4 bar-left">
            <ul class="tabs">
            <li>
                <input type="radio" checked name="tabs" id="tab1">
                <label for="tab1">My Datasets</label>
                <div id="tab-content1" class="tab-content">
                    <p>
                        Sort: Last record time | Last edit me

                        <span class="right">
                            <form id="search-form" class="pure-form">
                            <input type="text" name="search-term"/>
                            <input class="pure-button" type="submit" value="Search"/>
                            </form>
                        </span>
                    </p>
                    <p></p>
                    <div class="datasets-table">
                        <table id="datasets-table" class="pure-table pure-table-horizontal info-table">
                            <tbody>
                            <tr>
                                <td><img class="avatar thumb" src="/img/avatar.jpg" alt="User"/> <span class="username">garrm</span></td>
                                <td>
                                    <strong>Vitamin A</strong> &nbsp;
                                    <div class="dropdown">
                                        <a href="#" class="drop-toggle t-large"><i class="fa fa-sort-down"></i></a>
                                        <ul class="submenu">
                                            <li class="open"><a href="#">Open</a></li>
                                            <li class="share"><a href="#">Share</a></li>
                                            <li class="move"><a href="#">Move to an org</a></li>
                                            <li class="star"><a href="#">Add star</a></li>
                                            <li class="transfer"><a href="#">Transfer ownership</a></li>
                                            <li class="folder"><a href="#">Put in a folder</a></li>
                                            <li class="replace"><a href="#">Replace xls form</a></li>
                                            <li class="copy">
                                                <div class="dropdown menu-context">
                                                    <a href="#">Make a copy
                                                        <i class="fa fa-caret-square-o-right right"></i>
                                                    </a>
                                                    <ul class="submenu">
                                                        <li><a href="#">Copy to Garrm</a></li>
                                                        <li><a href="#">Copy to WHO (organization)</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="rename"><a href="#">Rename</a></li>
                                            <li class="download"><a href="#">Download</a></li>
                                            <li class="delete"><a href="#">Delete</a></li>
                                            <li class="cancel"><a href="#">Cancel</a></li>
                                        </ul>
                                    </div>

                                    <span class="t-state">
                                        <&nbsp;Shared &nbsp;&nbsp; Public
                                    </span>
                                    <p>3 records added today</p>
                                </td>
                                <td><span class="rec">34  Records</span></td>
                            </tr>
                            <tr>
                                <td><img class="avatar thumb" src="/img/avatar.jpg" alt="User"/> <span class="username">garrm</span></td>
                                <td>
                                    <strong>Vitamin B</strong> &nbsp;
                                     <a href="#" class="t-large"><i class="fa fa-sort-down"></i></a>                             <span class="t-state"> &nbsp;Shared</span>
                                    <p>
                                        <span>Nigerian Ministry of Health Study</span><br/>
                                        3 records added today
                                    </p>
                                </td>
                                <td>755  Records</td>
                            </tr>
                            <tr>
                                <td><img class="avatar thumb" src="/img/avatar.jpg" alt="User"/> <span class="username">garrm</span></td>
                                <td>
                                    <strong>Vitamin A South Africa</strong> &nbsp;
                                     <a href="#" class="t-large"><i class="fa fa-sort-down"></i></a>
                                    <p>
                                        <span>September enumeration of S. Africa by Jeff</span><br/>
                                        30 records added yesterday
                                    </p>
                                </td>
                                <td>2 datasets</td>
                            </tr>
                            <tr>
                                <td><img class="avatar thumb" src="/img/avatar.jpg" alt="User"/> <span class="username">garrm</span></td>
                                <td>
                                    <strong>Vitamin A Cameroon</strong> &nbsp;
                                     <a href="#" class="t-large"><i class="fa fa-sort-down"></i></a>
                                    <p>December enumeration of Cameroon by Sandy<br/>
                                        140 records added 2 months ago</p>
                                </td>
                                <td>1 dataset</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </li>
            <li>
                <input type="radio" name="tabs" id="tab2">
                <label for="tab2">Activity</label>
                <div id="tab-content2" class="tab-content">
                    <table class="table-list table-blue pure-table pure-table-horizontal info-table">
                    <tr>
                        <td>Invite</td>
                        <td><a href="user-profile.html">Matt Berg</a> add you to folder
                            <a href="#">Counties Visited</a></td>
                        <td>1 hr ago</td>
                        <td><a href="#" class="pure-button btn-warning">Leave</a></td>
                    </tr>
                    <tr>
                        <td>Invite</td>
                        <td><a href="user-profile.html">Matt Berg</a> add you to folder
                            <a href="#">Counties Visited</a></td>
                        <td>2 months ago</td>
                        <td><a href="#" class="pure-button btn-warning">Leave</a></td>
                    </tr>
                    <tr>
                        <td>JoinReq</td>
                        <td><a href="user-profile.html">Matt Berg</a> requested to join the folder
                            <a href="vitamin-a-south-africa-b.html">Vitamin b</a></td>
                        <td>2 months ago</td>
                        <td><a href="#" class="pure-button btn-warning">Leave</a></td>
                    </tr>
                    </table>


                    <table class="table-list pure-table pure-table-horizontal">
                    <tr>
                        <td>New data</td>
                        <td><a href="#">Tigus</a> added 3 records to
                                <a href="#">WHO/Heapatitis</a></td>
                        <td>2 hrs ago</td>
                    </tr>
                    <tr>
                        <td>Form edit</td>
                        <td><a href="#">Tigus</a> added 3 records to
                                <a href="#">WHO/Hepatitis</a></td>
                        <td>7 days ago</td>
                    </tr>
                    <tr>
                        <td>Starred</td>
                        <td><a href="user-profile.html">Matt Berg</a> edited
                                <a href="#">TB dataset</a></td>
                        <td>3 wks ago</td>
                    </tr>
                    <tr>
                        <td>Created dataset</td>
                        <td><a href="user-profile.html">Matt Berg</a> created a dataset
                                in the folder <a href="#">HIV</a></td>
                        <td>6 months ago</td>
                    </tr>
                    <tr>
                        <td>Make public</td>
                        <td>You shared the dataset
                                <a href="vitamin-a.html">Vitamin A</a> with the public</td>
                        <td>2 hrs ago</td>
                    </tr>
                    </table>
                </div>
            </li>
            <li>
                <input type="radio" name="tabs" id="tab3">
                <label for="tab3">Starred</label>
                <div id="tab-content3" class="tab-content">
                    <table class="pure-table pure-table-horizontal info-table">
                    <tr>
                        <th></th>
                        <th>User</th>
                        <th>Starred Dataset</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td><a href="#"><i class="fa fa-star"></i></a></td>
                        <td><img class="avatar thumb" src="/img/avatar.jpg" alt="User"/> hki</td>
                        <td>
                            <strong>VAS Cameroon</strong>
                            <p>Last record 2 hrs ago</p>
                        </td>
                        <td>34 Records</td>
                    </tr>
                    <tr>
                        <td><a href="#"><i class="fa fa-star"></i></a></td>
                        <td><img class="avatar thumb" src="/img/avatar.jpg" alt="User"/> hki</td>
                        <td>
                            <strong>VAS DRC</strong>
                            <span class="t-state">Shared</span>
                            <p>
                                <span>Nigerian Ministry of Health Study</span><br/>
                                3 records added today
                            </p>
                        </td>
                        <td>755  Records</td>
                    </tr>
                    <tr>
                        <td><a href="#"><i class="fa fa-star"></i></a></td>
                        <td><img class="avatar thumb" src="/img/avatar.jpg" alt="User"/> peter</td>
                        <td>
                            <strong><i class="fa fa-folder"></i>&nbsp; Vitamin A Harlem</strong>
                            <p>
                                <span>September enumeration of S. Africa by Jeff</span><br/>
                                Last record 12 hours ago
                            </p>
                        </td>
                        <td>2 datasets</td>
                    </tr>
                    <tr>
                        <td><a href="#"><i class="fa fa-star"></i></a></td>
                        <td><img class="avatar thumb" src="/img/avatar.jpg" alt="User"/> unicef</td>
                        <td>
                            <strong>VAS</strong>
                            <p>
                                <span>December enumeration of Cameroon by Sandy</span><br/>
                                Last record added 2 months ago</p>
                        </td>
                        <td>54 records</td>
                    </tr>
                    </table>
                </div>
            </li>
            </ul>
    	</div>

        <div class="pure-u-1-5 right" id="sidenav">
            <a href="dataset-new.html" class="btn-large pure-button">
                <i class="fa fa-plus"></i> &nbsp;New Project</a>
            <p>
                <h4>Learn</h4>
                <a href="#">Syntax Library</a><br/>
                <a href="#">Getting Started</a>
            </p>

            <p>
                Datasets<br/>
                Public: <span id="public-datasets">1</span> | Private: <span id="private-datasets">1</span><br/>
                <a href="#">Upgrade</a>
            </p>
        </div>
    </div>
    <div class="modal-wrap"></div>
</div>

<div class="modal" id="share_dialog">
    <div class="modal-wrap cfix">
        <div class="modal-header">
            <a href="#" class="btn-close">X</a>
            <h3>Share a dataset</h3>
        </div>
        <div class="modal-body">
            <p>What do you want to share</p><br/>
            <form class="pure-form pure-form-stacked">
            <br/>
            <ul class="form-list">
                <li>
                    <input type="checkbox" name="dmmata_check"/>
                    <strong>Vitamin A</strong> | Shared | Public
                </li>
                <li>
                    <input type="checkbox" name="data_check"/>
                    <strong>Vitamin B</strong> | Shared
                </li>
                <li>
                    <input type="checkbox" name="data_check"/>
                    <strong>Vitamin A South Africa</strong>
                </li>
                <li>
                    <input type="checkbox" name="data_check"/>
                    <strong>Vitamin A Cameroon</strong>
                </li>
            </ul>
            </form>
        </div>
        <div class="modal-footer">
            <input class="pure-button right" type="submit" value="Next"/>
        </div>
    </div>
</div>

<div class="modal" id="share_settings">
	<div class="">
        <a href="#">X</a>
		<h4>Share a settings for 'Vitamin A' and 'Vitamin B'</h4>
	</div>
    <div class="">
    	<p>Visibility: Private - Specific People <a href="#">Edit</a></p>
        <p>Who has access</p>
        <ul>
        	<li>
                <label>Carl M (carrrr77)</label>
        		<select>
        			<option value="editor" selected>Editor</option>
        			<option value="read-only">Read-only</option>
        		</select>
        	</li>
        	<li>
                <label>Sunny Smith (sunnysocal)</label>
        		<select>
        			<option value="editor">Editor</option>
        			<option value="read-only" selected>Read-only</option>
        		</select>
        	</li>
        </ul>
        <hr/>
        <p>Enter names, emails or groups to invite people..</p>
        <p>
            <label>___________________________________________</label>
            <select>
                <option value="manager" selected>Manager</option>
            </select>
            <a href="#" class="btn">Share datasets</a>
         </p>
    </div>
    <div class="">
        <a href="#" class="btn">back</a>
    	<input class="btn" type="submit" value="next"/>
    </div>
</div>

<div class="modal">
    <div class="" id="share_settings_b">
        <div class="">
            <a href="#">X</a>
            <h4>Share a settings for 'Vitamin A' and 'Vitamin B'</h4>
        </div>
        <div class="">
            <p>Visibility: Private - Specific People <a href="#">Edit</a></p>
            <p>Who has access</p>
            <ul>
                <li>
                    <label>Carl M (carrrr77)</label>
                    <select>
                        <option value="editor" selected>Editor</option>
                        <option value="read-only">Read-only</option>
                    </select>
                </li>
                <li>
                    <label>Sunny Smith (sunnysocal)</label>
                    <select>
                        <option value="editor">Editor</option>
                        <option value="read-only" selected>Read-only</option>
                    </select>
                </li>
            </ul>
            <hr/>
            <p>Enter names, emails or groups to invite people..</p>
            <p>
                <label>___________________________________________</label>
                <select>
                    <option value="manager" selected>Manager</option>
                </select>
                <a href="#" class="btn">Share datasets</a>
             </p>
        </div>
        <div class="">
            <a href="#" class="btn">back</a>
            <input class="btn" type="submit" value="next"/>
        </div>
    </div>
</div>
</body>
</html>
