<!doctype html>
<html>
<head>
<title>Members</title>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<link rel="stylesheet" type="text/css" href="../../../resources/public/css/pure-min.css">
<link rel="stylesheet" href="../../../resources/public/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../../../resources/public/css/style.css">
</head>
<body>
<div id="main-menu">
    <div class="vw-menu container cfix">
        <ul id="menu-items">
            <li class="pure-menu-selected menu-item">
                <div class="dropdown">
                   <a href="user-profile-garrett.html"><i class="fa fa-user"></i> &nbsp;Me</a>
                    <ul class="submenu" id="prof-drop">
                        <li><a href="#">My Profile</a></li>
                        <li><a href="#">My account</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="home.html">Home</a></li>
            <li><div class="dropdown">
                    <a href="#"><i class="fa t-large fa-plus-square"></i></a>
                    <ul class="submenu" id="exp-drop">
                        <li><br/>My Organizations<br/><br/></li>
                        <li><a href="#">
                            <img src="/img/who-logo.jpg" class="avatar thumb"/><br/> WHO
                        </a></li>
                    </ul>
                </div> 
            </li>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Help</a></li>
        </ul>
    </div>
</div>

<div id="content" class="container">
    <h3 class="pure-g-r teambar">
        <span class="pure-u-1-6">
            <a href="teams.html" class="teams">Teams (4)</a>
        </span>
        
        <span class="pure-u-1-6">
            Members (34)
        </span>
        
        <span class="pure-u-1-6">
            <a href="#">Collaborators</a>
        </span>
    </h3>

    <div>
        <form id="adduser" class="pure-form" >
            <input id="orgname" type="hidden" name="orgname">
            <input type="text" name="username">
            <input class="pure-button" type="submit" value="Add Member">
        </form>
    </div>
    
    <div class="row members">
        <table class="pure-table pure-table-horizontal members">
        <tbody>
            <tr>
                <td>
                    <span class="username">angang</span><br/>
                    <span class="name">Angela</span>
                </td>
                <td><a href="#">12 datasets, 15 forms</a></td>
                <td>1 team</td>
                <td><a href="#" class="pure-button button-warning">Remove</a></td>
            </tr>
            <tr>
                <td>
                    <span class="">bobo</span><br/>
                    <span class="">Bo</span>
                </td>
                <td><a href="#">3 datasets, 6 forms</a></td>
                <td>2 teams</td>
                <td><a href="#" class="pure-button button-warning">Remove</a></td>
            </tr>
            <tr>
                <td>
                    <span class="">tigtig</span><br/>
                    <span class="">Tigus</span>
                </td>
                <td><a href="#">2 datasets, 6 forms</a></td>
                <td>2 teams</td>
                <td><a href="#" class="pure-button button-warning">Remove</a></td>
            </tr>
            <tr>
                <td>
                    <span class="">rowo</span><br/>
                    <span class="">Roger Wong</span>
                </td>
                <td><a href="#">14 datasets, 6 forms</a></td>
                <td>3 teams</td>
                <td><a href="#" class="pure-button button-warning">Remove</a></td>
            </tr>
            <tr>
                <td>
                    <span class="">pld</span><br/>
                    <span class="">Peter</span>
                </td>
                <td><a href="#">3 datasets, 6 forms</a></td>
                <td>2 teams</td>
                <td><a href="#" class="pure-button button-warning">Remove</a></td>
            </tr>
            <tr>
                <td>
                    <span class="">lweya</span><br/>
                    <span class="">Larry</span>
                </td>
                <td><a href="#">8 datasets, 6 forms</a></td>
                <td>4 teams</td>
                <td><a href="#" class="pure-button button-warning">Remove</a></td>
            </tr>
        </tbody>
        </table>
    </div>
</div>

</body>
</html>