<!doctype html>
<html>
<head>
<title>Ona</title>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<link rel="stylesheet" type="text/css" href="../../../resources/public/css/pure-min.css">
<link rel="stylesheet" href="../../../resources/public/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../../../resources/public/css/style.css">
</head>
<body>
<div id="main-menu">
    <div class="vw-menu container cfix">
        <ul id="menu-items">
            <li class="pure-menu-selected menu-item">
                <div class="dropdown">
                   <a href="user-profile-garrett.html"><i class="fa fa-user"></i> &nbsp;Me</a>
                    <ul class="submenu" id="prof-drop">
                        <li><a href="#">My Profile</a></li>
                        <li><a href="#">My account</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="home.html">Home</a></li>
            <li><div class="dropdown">
                    <a href="#"><i class="fa t-large fa-plus-square"></i></a>
                    <ul class="submenu" id="exp-drop">
                        <li><br/>My Organizations<br/><br/></li>
                        <li><a href="#">
                            <img src="img/who-logo.jpg" class="avatar thumb"/><br/> WHO
                        </a></li>
                    </ul>
                </div> 
            </li>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Help</a></li>
        </ul>
    </div>
</div>

<div id="content" class="container">
    <div class="pure-g-r">
        <div class="pure-u-1-5 bar-left org-details">
            <p>
                <img src="/img/ona-logo.png" alt="Organization Logo"/>
                <h4>Ona</h4>
                <i class="icon"></i> <span class="city">Nairobi</span>, <span class="country">NYC</span><br/>
                <a href="http://ona.io" class="org-url">http://ona.io</a>
                <br/><br/>
                <a class="pure-button btn-secondary" href="#">Request to join</a>
            </p>
            <p><br/>
                Lorem lipseum dolor sit amet, consecteur adipisicing elit, sed do 
                eiusmod tempor incididunt
            </p>
            <p><br/>
                <h4><a href="#" class="members"> Members (11) </a></h4>
                <ul class="infolist members">
                	<li>Peter</li>
                    <li>Roy</li>
                </ul>
            </p>
            <p><br/>
            <h4><a href="#" class="teams"> Teams </a></h4>
            <ul class="infolist teams">
                <li>Team A</li>
                <li>Team B</li>
            </ul>
            </p>
        </div>
        
        <div class="pure-u-2-3">
            <ul class="tabs">
                <li>
                    <input type="radio" checked name="tabs" id="tab1">
                    <label for="tab1">Datasets</label>
                    <div id="tab-content1" class="tab-content">
                        <table id="projects" class="pure-table pure-table-horizontal">
                        <tbody>
                            <tr>
                                <td>
                                   <p><img class="avatar thumb" src="/img/ona-logo.png" alt="Ona"/> Ona<p>
                                    Author: <span>mberg</span>
                                </td>
                                <td>
                                    <i class="fa fa-folder"></i>&nbsp;
                                    <strong><span id="project-name">Pizza</span></strong>
                                    &nbsp; <a href="#"><i class="fa fa-star"></i></a>
                                    <p id="last-project-modification">Last record 2 hours ago</p>
                                </td>
                                <td><span id="no-of-datasets">10 datasets</span></td>
                            </tr>
                            <tr>
                                <td>
                                   <p><img class="avatar thumb" src="/img/avatar.jpg" alt="User"/> Ona<p>
                                    Created: <span>larry</span>
                                </td>
                                <td>
                                    <i class="fa fa-folder"></i>&nbsp; <strong>Office Checkins</strong>
                                    &nbsp; <a href="#"><i class="fa fa-star"></i></a>
                                    <p>Last record 6 hours ago</p>
                                </td>
                                <td>2 datasets</td>
                            </tr>
                            <tr>
                                <td>
                                   <p><img class="avatar thumb" src="/img/avatar.jpg" alt="User"/> Ona<p>
                                    Author: <span>pld</span>
                                </td>
                                <td>
                                    <i class="fa fa-folder"></i> <strong>Countries Visited</strong>
                                    &nbsp; <a href="#"><i class="fa fa-star"></i></a>
                                    <p>
                                        <span>List of places we've all worked</span><br/>
                                        Last record 12 hours ago</p>
                                </td>
                                <td>1 dataset</td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>



</body>
</html>