<html lang="en">
  <head>
    <title>Ona Viewer</title>
  </head>
  <body>
    <div class="content">
      <div class="new-project-form">
        <h1 id="name">Project Name</h1>
        <h2>Project Settings</h2>
        <p>Determine project visibility and access to the datasets</p>
        <p><em>Project is currently Private (only you can view and access)</em></p>
        <ul id="users">
          <li><span class="username">Garret Mehl (you)</span>
            <select>
              <option>Is owner</option>
            </select>
          </li>
        </ul>
        <a href="#">Share</a>
        <a href="#">Back</a>
        <a href="#">Done</a>
      </div>
    </div>
  </body>
</html>
