<html lang="en">
  <head>
    <title>Ona Viewer</title>
  </head>
  <body>
    <div class="content">
        <div class="pure-g-r">
            <div class="pure-u-1-5" id="sidenav">

                <h3>DESCRIPTION</h3>
                <p id="project-description">

                    Lorem lipseum dolor sit amet, consecteur adipisicing elit, sed do
                    eiusmod tempor incididunt
                </p>
                <h3>ACTIVITY</h3>
                <p class="activity">

                    <span class="submissions">16 submissions today</span><br/>
                    <span class="latest">Latest about 2 hours ago</span>
                </p>

                <h3>PEOPLE ON THIS PROJECT</h3>
                <p class="tagbox">
                    <span class="tag">Person 1</span> <span class="tag">Person 2</span>
                    <span class="tag">Person 3</span> <span class="tag">Person 4</span>
                    <span class="tag">Person 5</span> <span class="tag">Person 6</span>
                </p>
            </div>

            <div class="pure-u-4-5">
                <div class="new-project-form">
                    <h1 id="name">Project Name</h1>
                    <p id="description">Lorem ipsum</p>
                    <h2>Forms</h2>
                    <ul id="forms">
                        <li><span class="formname">Form Name</span>
                        </li>
                    </ul>
                    <a id="addform" href="#">Add Form</a>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
