<html lang="en">
<head>
    <title>Ona Viewer</title>
</head>
<body>
<div id="content" class="container">
    <div class="signin-form">
        <form action="/join" method="post">
            <input name="name" placeholder="Name" type="text">
            <input name="username" placeholder="Username" required="true" type="text">
            <input name="email" placeholder="Email" required="true" type="text">
            <input name="password" placeholder="Password" required="true" type="password">
            <input name="password2" placeholder="Password(again)" required="true" type="password">
            <input type="submit" value="Sign up">
        </form>
    </div>
</div>
</body>
</html>
