<!doctype html>
<html>
<head>
<title>Teams</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<link rel="stylesheet" type="text/css" href="../../../resources/public/css/pure-min.css">
<link rel="stylesheet" href="../../../resources/public/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../../../resources/public/css/style.css">
</head>
<body>
<div id="main-menu">
    <div class="vw-menu container cfix">
        <ul id="menu-items">
            <li class="pure-menu-selected menu-item">
                <div class="dropdown">
                   <a href="user-profile-garrett.html"><i class="fa fa-user"></i> &nbsp;Me</a>
                    <ul class="submenu" id="prof-drop">
                        <li><a href="#">My Profile</a></li>
                        <li><a href="#">My account</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="home.html">Home</a></li>
            <li><div class="dropdown">
                    <a href="#"><i class="fa t-large fa-plus-square"></i></a>
                    <ul class="submenu" id="exp-drop">
                        <li><br/>My Organizations<br/><br/></li>
                        <li><a href="#">
                            <img src="img/who-logo.jpg" class="avatar thumb"/><br/> WHO
                        </a></li>
                    </ul>
                </div> 
            </li>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Help</a></li>
        </ul>
    </div>
</div>

<div id="content" class="container">
    <h3 class="pure-g-r teambar">
        <span class="pure-u-1-6">
            Teams (4)
        </span>
        
        <span class="pure-u-1-6">
            <a href="members.html">Members</a>
        </span>
        
        <span class="pure-u-1-6">
            <a href="#">Collaborators</a>
        </span>
    </h3>
    
    <div class="searchbox">
        <form class="pure-form">
    	<input type="text" name="search"/>
        </form>
    </div>
    
    <div class="pure-g-r teamheader myteams">
        <div class="pure-u-1-2">
        	<h2>My Teams</h2>
        </div>
        
        <div class="pure-u-1-2">
        	<a href="#" class="pure-button btn-success right">New Team</a>
        </div>
    </div>
    
    <div class="pure-g-r myteams">
    	<div class="pure-u-2-5 teambox myteam">
            <h3>Bosses</h3>
            <p>
                <strong>5 members | 10 Datasets</strong>
                <a href="#" class="pure-button btn-warning right">Leave</a>
            </p>
            
            <p>
            	Susan, Dr, Brisebe, Ngong Road, Quaru
            </p>
    	</div>

        <div class="pure-u-2-5 teambox myteam">
            <h3>Bosses</h3>
            <p>
                <strong>5 members | 10 Datasets</strong>
                <a href="#" class="pure-button btn-warning right">Leave</a>
            </p>

            <p>
                Susan, Dr, Brisebe, Ngong Road, Quaru
            </p>
        </div>

    </div>
    

    <div class=" pure-g-r teamheader orgteams">
        <div class="pure-u-1-2">
            <h2>Organization Teams</h2>
        </div>

        <div class="pure-u-1-2">
            <a href="#" class="pure-button btn-success right">New Organization Team (?)</a>
        </div>
    </div>

    <div class="pure-g-r orgteams">
        <div class="pure-u-2-5 teambox orgteam">
            <h3>Admin</h3>
            <p>
                <strong>2 members</strong>
                <a href="#" class="pure-button btn-warning right">Leave</a>
            </p>

            <p> </p>
        </div>

        <div class="pure-u-2-5 teambox orgteam">
            <h3>All Org Members</h3>
            <p>
                <strong>34 members</strong>
                <a href="#" class="pure-button btn-warning right">Leave</a>
            </p>

            <p> </p>
        </div>

        <div class="pure-u-2-5 teambox orgteam">
            <h3>Body Stuff</h3>
            <p>
                <strong>1 members | 1 Datasets</strong>
                <a href="#" class="pure-button btn-secondary right">Join</a>
            </p>

            <p>
                Matt
            </p>
        </div>
    </div>
</div>



</body>
</html>