<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Garrett Mehl</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<link rel="stylesheet" type="text/css" href="../../../resources/public/css/pure-min.css">
<link rel="stylesheet" href="../../../resources/public/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../../../resources/public/css/style.css">
</head>
<body>
<div id="main-menu">
    <div class="vw-menu container cfix">
        <ul id="menu-items">
            <li class="pure-menu-selected menu-item">
                <div class="dropdown">
                   <a href="user-profile-garrett.html"><i class="fa fa-user"></i> &nbsp;Me</a>
                    <ul class="submenu" id="prof-drop">
                        <li><a href="#">My Profile</a></li>
                        <li><a href="#">My account</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="home.html">Home</a></li>
            <li><div class="dropdown">
                    <a href="#"><i class="fa t-large fa-plus-square"></i></a>
                    <ul class="submenu" id="exp-drop">
                        <li><br/>My Organizations<br/><br/></li>
                        <li><a href="#">
                            <img src="img/who-logo.jpg" class="avatar thumb"/><br/> WHO
                        </a></li>
                    </ul>
                </div> 
            </li>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Help</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="pure-g-r">
        <div class="pure-u-1-5 bar-left">
            <h2>Garrett Mehl</h2>
            <p>
                <img class="avatar" src="img/gmehl.jpg" alt="Garrett Mehl"/><br/><br/>
                <a href="#" class="pure-button btn-secondary">Settings</a> 
                <a href="dataset-new.html" class="pure-button btn-secondary">New Dataset</a>
            </p><hr/>
            <p>
                <ul class="infolist">
                	<li>Title/occupation: Health</li>
                    <li>Organization: <a href="org-profile-joined.html">WHO</a></li>
                    <li>Website: <a href="http://who.int">www.who.int</a></li>
                    <li>Twitter: <a href="https://www.twitter.com/">@garrett_mehl</a></li>
                    <li>Based in: Geneva, Switzerland</li>
                    <li>Works in: India, mHealth</li>
                    <li>Member since: Jan 17, 2014</li>
                </ul>
            </p>
        </div>
        
        <div class="pure-u-2-3">
            <ul class="tabs">
                <li>
                    <input type="radio" checked name="tabs" id="tab1">
                    <label for="tab1">12 Datasets (2 public)</label>
                    <div id="tab-content1" class="tab-content">
                        <table class="pure-table pure-table-horizontal">
                        <tr>
                            <td>
                               <p><img class="avatar thumb" src="img/who-logo.jpg" alt="WHO"/> garrm<p>
                            </td>
                            <td>
                                <i class="icon"></i> <strong>Vitamin A</strong>
                                &nbsp; <a href="#"><i class="fa fa-star"></i></a> &nbsp;
                                <span class="t-state">Shared &nbsp;&nbsp; Public</span>
                                <p>Last record 2 hours ago</p>
                            </td>
                            <td>34 Records</td>
                        </tr>
                        <tr>
                            <td>
                               <p><img class="avatar thumb" src="img/avatar.jpg" alt="User"/> garrm<p>
                            </td>
                            <td>
                                <strong>Vitamin B</strong>
                                &nbsp; <a href="#"><i class="fa fa-star"></i></a> &nbsp;
                                <span class="t-state">Shared</span>

                                <p>
                                    <span>Nigerian Ministry of Health Study</span><br/>
                                    Last record 6 hours ago</p>
                            </td>
                            <td>755 Records</td>
                        </tr>
                        <tr>
                            <td>
                               <p><img class="avatar thumb" src="img/avatar.jpg" alt="User"/> garrm<p>
                            </td>
                            <td>
                                <i class="fa fa-folder"></i>&nbsp; Vitamin A South Africa</strong>
                                &nbsp; <a href="#"><i class="fa fa-star"></i></a> &nbsp;
                                <span class="t-state">Public</span>
                                <p>
                                    <span>September enumeration of S. Africa by Jeff</span><br/>
                                    Last record 12 hours ago</p>
                            </td>
                            <td>2 datasets</td>
                        </tr>
                        <tr>
                            <td>
                               <p><img class="avatar thumb" src="img/ona-logo.png" alt="ONA"/> <a href="org-profile.html">ONA</a><p>
                            </td>
                            <td>
                                <i class="fa fa-folder"></i>&nbsp; <strong>Vitamin A Cameroon</strong>
                                &nbsp; <a href="#"><i class="fa fa-star"></i></a>
                                <p>
                                    <span>December enumeration of Cameroon by Sandy</span><br/>
                                    Last record 2 months ago</p>
                            </td>
                            <td>1 dataset</td>
                        </tr>
                        <tr>
                            <td>
                               <p><img class="avatar thumb" src="img/avatar.jpg" alt="User"/> WHO<p>
                            </td>
                            <td>
                                <strong>Vitamin C</strong>
                                &nbsp; <a href="#"><i class="fa fa-star"></i></a>
                                <p>Last record 1 year ago</p>
                            </td>
                            <td>222 Records</td>
                        </tr>
                        </table>
                    </div>
                </li>
                <li>
                    <input type="radio" name="tabs" id="tab2">
                    <label for="tab2">234 Records</label>
                    <div id="tab-content2" class="tab-content">

                    </div>
                </li>
                <li>
                    <input type="radio" name="tabs" id="tab3">
                    <label for="tab3">1 Org</label>
                    <div id="tab-content3" class="tab-content">

                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>