<html lang="en">
  <head>
    <title>Ona Viewer</title>
  </head>
  <body>
    <div class="content container">
        <div class="pure-g-r page-header">
            <div class="pure-u-2-5">
                <h1 id="name">Vitamin A</h1>
            </div>

            <div class="pure-u-2-5">
        	<span class="right">
                <a id="addform" href="#" class="pure-button">Add Form</a>
                <a href="#" class="pure-button">Share Project</a>
            </span>
            </div>
        </div>
        <div class="pure-g-r user-bar cfix">
            <div class="pure-u-2-5">
                <a id="user-profile" href="user-profile-garrett.html">
                    <i class="fa fa-user"></i> &nbsp;<span id="user-name">garrm</span></a>
            </div>
        </div>
        <div class="pure-g-r">
            <div class="pure-u-1-5" id="sidenav">

                <h3>DESCRIPTION</h3>
                <p id="description">

                    Lorem lipseum dolor sit amet, consecteur adipisicing elit, sed do
                    eiusmod tempor incididunt
                </p>
                <h3>ACTIVITY</h3>
                <p class="activity">

                    <span class="submissions">16 submissions today</span><br/>
                    <span class="latest">Latest about 2 hours ago</span>
                </p>

                <h3>PEOPLE ON THIS PROJECT</h3>
                <p class="tagbox">
                    <span class="tag">Person 1</span> <span class="tag">Person 2</span>
                    <span class="tag">Person 3</span> <span class="tag">Person 4</span>
                    <span class="tag">Person 5</span> <span class="tag">Person 6</span>
                </p>
            </div>

            <div class="pure-u-4-5">
                <div class="new-project-form">
                    <div class="datasets-table">

                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
