<html lang="en">
<head>
    <title>Ona</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" type="text/css" href="../../../../resources/public/css/pure-min.css">
    <link rel="stylesheet" href="../../../../resources/public/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../../../resources/public/css/style.css">
</head>
<body>
<div id="main-menu">
    <div class="vw-menu container cfix">
        <ul id="menu-items">
            <li class="pure-menu-selected menu-item">
                <div class="dropdown">
                    <a href="user-profile-garrett.html"><i class="fa fa-user"></i> &nbsp;Me</a>
                    <ul class="submenu" id="prof-drop">
                        <li><a href="#">My Profile</a></li>
                        <li><a href="#">My account</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="home.html">Home</a></li>
            <li>
                <div class="dropdown">
                    <a href="#"><i class="fa t-large fa-plus-square"></i></a>
                    <ul class="submenu" id="exp-drop">
                        <li><br/>My Organizations<br/><br/></li>
                        <li><a href="#">
                            <img src="../../../../resources/public/img/who-logo.jpg" class="avatar thumb"/><br/> WHO
                        </a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Help</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="pure-g-r">
        <div class="pure-u-1-2">
            <h1>Create Project</h1>
        </div>
    </div>
    <div class="row">
        <div class="new-project-form pure-g-r">
            <form action="projects" method="post" class="pure-form pure-form-stacked">
                <p id="errors"></p>

                <p class="pure-u-1-8">
                    <label>Account Owner</label>
                    <select>
                        <option value="agriculture">WHO</option>
                        <option value="agriculture">garrm</option>
                        <option value="agriculture">Ona</option>
                    </select>
                </p>
                <p class="pure-u-1-48">
                    <span class="t-large t-slash">/<span>
                </p>
                <p class="pure-u-1-4">
                    <label>Project name</label>
                    <input type="text" name="name" placeholder="Project Name"/>
                </p>

                <p class="pure-u-2-3">
                    <label>Add a description (optional)</label>
                    <input type="text" name="description"/>
                </p>

                <p class="pure-u-1-2">
                    <label>Choose a project category</label>
                    <select>
                        <option>-Select category-</option>
                        <option value="agriculture">agriculture</option>
                        <option value="">baseline survey</option>
                        <option value="">community</option>
                        <option value="">education</option>
                        <option value="">energy</option>
                        <option value="">environment</option>
                        <option value="">financial services</option>
                        <option value="">gender equity</option>
                        <option value="">health</option>
                        <option value="">water</option>
                    </select>
                </p>

                <p class="pure-u-2-3">
                    <label>Location</label>
                    <input type="text" name="location"/>
                </p>

                <p class="pure-u-2-3">
                    <a href="../home.html" class="pure-button"> Cancel </a>
                    <a href="../project/settings.html" class="pure-button" id="next"> Next </a>
                </p>
            </form>
        </div>
    </div>
</div>
</body>
</html>
