<html lang="en">
<head>
    <title>Ona</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" type="text/css" href="../../../../resources/public/css/pure-min.css">
    <link rel="stylesheet" href="../../../../resources/public/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../../../resources/public/css/style.css">
</head>
<body>
    <div id="main-menu">
        <div class="vw-menu container cfix">
            <ul id="menu-items">
                <li class="pure-menu-selected menu-item">
                    <div class="dropdown">
                        <a href="user-profile-garrett.html"><i class="fa fa-user"></i> &nbsp;Me</a>
                        <ul class="submenu" id="prof-drop">
                            <li><a href="#">My Profile</a></li>
                            <li><a href="#">My account</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="home.html">Home</a></li>
                <li>
                    <div class="dropdown">
                        <a href="#"><i class="fa t-large fa-plus-square"></i></a>
                        <ul class="submenu" id="exp-drop">
                            <li><br/>My Organizations<br/><br/></li>
                            <li><a href="#">
                                <img src="../../../../resources/public/img/who-logo.jpg" class="avatar thumb"/><br/> WHO
                            </a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Explore</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div>
    </div>
    <div class="content container">
      <div class="new-project-form">
        <h1>
            <select>
                <option value="agriculture">WHO</option>
                <option value="agriculture">garrm</option>
                <option value="agriculture">Ona</option>
            </select>
             / <span id="name">Project Name</span>
        </h1><br/><br/><br/>
        <h2>Project Settings</h2>
        <p>Determine project visibility and access to the datasets</p>
        <p><em>Project is currently Private (only you and the organizations' admins can view and access)</em></p>
        <form class="pure-form">
        <table id="users" class="pure-table pure-table-horizontal">
          <tr>
          	<td>
          		<i class="fa-icon fa-user"></i>
          	    <span class="username">Garret Mehl (you)</span>
          	 </td>
            <td>
                <select>
                  <option value="">Is owner</option>
                  <option value="">Is author</option>
                </select>
            </td>
            <td></td>
          </tr>
          <tr>
          	<td>
          		<i class="fa-icon fa-users"></i>
          	    <span class="username">People at WHO</span>
          	 </td>
            <td>
                <select>
                  <option value="">Can view</option>
                  <option value="">Can edit</option>
                </select>
            </td>
            <td><a href="#" class="action-remove">&times;</a></td>
          </tr>
          <tr>
          	<td>
          	    <span class="username">Public - anyone</span>
          	 </td>
            <td>
                <select>
                  <option value="">Can view</option>
                  <option value="">Can edit</option>
                </select>
            </td>
            <td><a href="#" class="action-remove">&times;</a></td>
          </tr>
          <tr>
          	<td>
          	    <span class="username">Anyone with the link</span><br/>
                <span class="datalink t-more-info">Link:  https://ona.io/garrm/sdjkj798230/</span>
          	 </td>
            <td>
                <select>
                  <option value="">Can view</option>
                  <option value="">Can edit</option>
                </select>
            </td>
            <td><a href="#" class="action-remove">&times;</a></td>
          </tr>
          <tr>
          	<td>
          		<input type="text" class="tbox-invite" name="invite-txt" placeholder="Enter names, emails or groups to invite people"/>
          	 </td>
            <td>
                <select>
                  <option value="">Can view</option>
                  <option value="">Can edit</option>
                </select>
                <button class="pure-button btn-secondary">Invite</button>
            </td>
            <td><a href="#" class="action-remove">&times;</a></td>
          </tr>
        </table>
        </form>
        <p>
        	<a href="#share_dialog" class="pure-button">Share</a>
        <p>
        <p class="t-center">
            <a id="back" href="new.html" class="pure-button">Back</a>
            <a id="done" href="#" class="pure-button">Done</a>
        </p>
        
      </div>
    </div>
    <div class="modal" id="share_dialog">
        <div class="modal-wrap cfix">
            <div class="modal-header">
                <a href="#" class="btn-close">X</a>
                <h3>Share with ...</h3>
            </div>
            <div class="modal-body">
                <form class="pure-form pure-form-stacked">
                    <ul class="form-list">
                        <li>
                            <input type="checkbox" name="dmmata_check"/>
                            <strong>Specific People: only people explicitly granted access to the project</strong><br/>
                            <span class="t-more-info">Project is visible and datasets accessible for specific people</span>
                        </li>
                        <li>
                            <input type="checkbox" name="dmmata_check"/>
                            <strong>People at WHO organization</strong><br/>
                            <span class="t-more-info">People at WHO can find and access datasets </span>
                        </li>
                        <li>
                            <input type="checkbox" name="data_check"/>
                            <strong>Anyone via Link: anyone with a link can access the project</strong><br/>
                            <span class="t-more-info">Anyone with the link can see the project and access the datasets (no login required)</span>
                        </li>
                        <li>
                            <input type="checkbox" name="data_check"/>
                            <strong>Public - anyone - project is accessible by everyone and visible on your user page</strong><br/>
                            <span class="t-more-info">Anyone on the web can find the project and access datasets (no login required)</span>
                        </li>
                    </ul>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="pure-button">Cancel</a>
                <a href="#" class="pure-button">Okay</a>
<!--                <input class="pure-button" type="submit" value="Okay"/>-->
            </div>
        </div>
    </div>
  </body>
</html>
