<html lang="en">
  <head>
    <title>Ona Viewer</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" type="text/css" href="../../../../resources/public/css/pure-min.css">
    <link rel="stylesheet" href="../../../../resources/public/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../../../resources/public/css/style.css">
  </head>
  <body>
    <div class="content container">
        <div class="pure-g-r page-header">
            <div class="pure-u-2-5">
                <h1 id="name">My New Project &nbsp;<i class="fa fa-gear"></i></h1>
            </div>

            <div class="pure-u-1-2">
        	<span class="right">
                <a id="addform" href="#" class="pure-button">Add Record</a>
                <a href="#" class="pure-button">Share</a>
            </span>
            </div>
        </div>
        <div class="pure-g-r user-bar cfix" id="username">
            <div class="pure-u-2-5" id="user-link">
                <a id="user-profile" href="user-profile-garrett.html">
                    <i class="fa fa-user"></i> &nbsp;<span id="user-name">garrm</span></a>
            </div>
        </div>
        <div class="pure-g-r">
            <div class="pure-u-1-5" id="sidenav">

                <h3>DESCRIPTION</h3>
                <p id="description">

                    Lorem lipseum dolor sit amet, consecteur adipisicing elit, sed do
                    eiusmod tempor incididunt
                </p>
                <h3>ACTIVITY</h3>
                <div id="project-activity">
                    <p id="activity">
                        <span id="submissions">16 submissions today</span><br/>
                        <span id="latest">Latest about 2 hours ago</span>
                    </p>
                </div>

                <h3>PEOPLE ON THIS PROJECT</h3>
                <p class="tagbox">
                    <span class="tag">Person 1</span> <span class="tag">Person 2</span>
                    <span class="tag">Person 3</span> <span class="tag">Person 4</span>
                    <span class="tag">Person 5</span> <span class="tag">Person 6</span>
                </p>
            </div>
            <!-- Spacer -->
            <div class="pure-u-1-12"></div>

            <div class="pure-u-2-3">
                <div class="cfix">
                	<a href="#add_form_dialog" class="pure-button btn-warning right">+ Add Form</a>
                	<h2>Forms</h2>
                </div>
                <hr/>
                <div class="new-project-form pure-1-1">
                    <div class="datasets-table">
                        <p class="t-no-info t-center">
                        	No forms here, add a form now
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <div class="modal" id="add_form_dialog">
        <div class="modal-wrap cfix">
            <div class="modal-header">
                <a href="#" class="btn-close">X</a>
                <h2>Add Form to My New Project</h2>
            </div>
            <div class="modal-body">
                <br/><br/>
                <p>
                    XLSForm - Directions, guideline links and quotes on using 
                    <br/>xls forms, help or support link
                </p>
                <p>
                    <form class="pure-form pure-form-stacked">
                        <input type="file"/>
                    </form>
                </p>
                <p>
                	
                </p>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
  </body>
</html>
