/* custom styles */
*{
    margin:0;padding:0;
    box-sizing:border-box!important;
}
body{
    font-family: Arial!important;
    font-size:13px;
    padding-bottom:10em;
}
h1, h2, h3, h4, h5{
    margin:0.6em 0;
}
a{
    color:#1D5CAD;
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}
.pure-menu li a:hover, .pure-button, .vw-menu li a:hover{
    text-decoration:none!important;
}
input, textarea{
	box-shadow:none!important;
}

/* cleafix */
.cfix:before,
.cfix:after {
    content: " ";
    display: table;
}
.cfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cfix {
    *zoom: 1;
}

ul li{
    list-style-type:none;
    margin-bottom:0.6em;
}

table{
    width:100%;
}
table tr th{
    text-align:left;
}
table tr td{
    vertical-align:middle!important;
}
hr{
    border:1px solid #AFAFAF!important;
}

#signin{
    margin-top:27%;
    padding:1em;
}
.bordered{
    border:1px solid #AFAFAF;
}
.cls{
    clear:both;
}
.container{
    margin:0 auto;
    max-width:1024px;
}
.row{
    padding:0.6em;
    margin-bottom:1em;
    max-width:100%;
}

/* text & paragraphs */
.t-center{ text-align:center; }
.t-right{ text-align:right; }
.t-normal{ font-weight:normal!important; }
.t-large{ font-size:2em; }
.t-state{
    color:#999;
    font-size:0.95em;
}
.t-bubble{
    background:#2B78E4;
    border-radius:1em;
    color:#FFF;
    padding:1em;
}

/* lists */
.infolist{
    margin-left:1.5em;
    padding-left:0;
}
.infolist li{
    padding:0.1em;
    list-style:square;
}

/* buttons */
.btn-success, .btn-error, .btn-warning,
.btn-secondary {
    color:#FFF;
}

.btn-success { background: rgb(28, 184, 65); }
.btn-error { background: rgb(202, 60, 60); }
.btn-warning { background: rgb(223, 117, 20); }
.btn-secondary { background: rgb(66, 184, 221); }

.btn-xsmall { font-size: 70%; }
.btn-small { font-size: 85%; }
.btn-large { font-size: 110%; }
.btn-xlarge { font-size: 125%; }

/* floats */
.right{
    float:right;
}

/* buttons */
#sidenav .pure-button{
    max-width:100%;
}

#main-menu{
    background:#DEDEDD;
    margin-top:1em;
}
#main-menu .pure-menu, #main-menu .vw-menu{
    background:#DEDEDD;
}
.pure-menu, .vw-menu{
    margin-bottom:1em;
}

/* table lists (activity) */
.table-list{
    border:0;
    margin-bottom:2em;
}
.table-list tr td{
    border:0;
    border-bottom:1em solid #FFFFFF;
}
.table-list.table-blue{ background:#E7F1FE!important; }

.info-table tr td:first-child{
    vertical-align:middle;
}
.fa.fa-star{
    color:#F1C232;
    font-size:15px;
}
.fa.fa-star:hover{
    color:#4BB848;
}
.team-table{
    border:0;
    max-width:30em!important;
}
.team-table tr td{
    border:0;
}

/* navbars */
.bar-right{
    margin-left:3em;
}
.bar-left{
    margin-right:3em;
}

/* map stuff */
#map{
    min-height:40em;
    overflow:hidden;
    position:relative;
}
#map img{
    position:absolute;
    margin:auto;
    height:100%;
    width:100%;
}

.avatar.thumb{
    width:5em;
}

/* datasets */
#new_dataset{
    padding-top:2em;
}
#new_dataset .bar-left{
    border-right:1px solid #CFCFCF;
    margin-right:2em;
    padding-right:4em;
}
.uploader{
    border:1px solid #CFCFCF;
    margin-bottom:2em;
    padding:1em;
}

/* teambox */
.teambar{
    border-bottom:1px solid #CFCFCF;
    margin-bottom:2em;
    padding-bottom:1em;
}
.searchbox{
    margin-bottom:2em;
    padding-bottom:0.6em;
}
.teambox{
    border:1px solid #CFCFCF;
    margin-bottom:4em;
    margin-right:3em;
    padding:2em;
}
.teamheader .pure-button{
    margin-right:4.3em;
}

/* tabs */
.tabs input[type=radio] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.tabs{
    width: auto;
    list-style: none;
    position: relative;
    padding: 0;
}
.tabs li{
    float:left;
}
.tabs li:first-child{
    margin-left:2em;
}
.tabs label{
    display: block;
    cursor: pointer;
    position: relative;
    padding:1em 2em;
}

[id^=tab]:checked + label{
    background: #DEDEDD;
    top: 0;
}

[id^=tab]:checked ~ [id^=tab-content]{
    display: block;
}
.tab-content{
    border:1px solid #CFCFCF;
    display: none;
    padding:2em 2em 5em;
    position: absolute;
    left: 0;
    text-align: left;
    width: 100%;
    z-index: 2;
}
.tab-content table, #datasets-table{
    border:0;
}
.searchbar{
    margin-bottom:2em;
}

.page-header{
    padding-top:1em;
}
.page-header h1{
    margin-top:0;
}
.user-bar{
    border-bottom:1px dotted #AFAFAF;
    margin-bottom:1em;
    padding-bottom:1em;
}

/* Top Menu */
.vw-menu ul li{
    float:left;
    position:relative;
}
.vw-menu ul li a{
    color:#777;
    padding:1em 2em;
}
/* DROPDOWN menus */

/* header dropdowns */
#prof-drop{
    margin-left:1.5em!important;
    margin-top:1.8em;
}
#exp-drop{
    margin-left:0em!important;
    margin-top:1em;
}

div.dropdown{
    display:inline-block;
    position:relative;
}

/* menu context */
.menu-context{
    display:block!important;
}
.menu-context ul.submenu{
    top:10px!important;
    left:120px;
}

ul.submenu{
    background:#FFFFFF;
    border:1px solid #CFCFCF;
    -webkit-box-shadow: 0px 1px 8px 0px rgba(22, 24, 0, 0.6);
    -moz-box-shadow: 0px 1px 8px 0px rgba(22, 24, 0, 0.6);
    box-shadow: 0px 1px 8px 0px rgba(22, 24, 0, 0.6);
    display:none;
    position:absolute!important;
    top:3px;
    padding:0!important;
    z-index:100;
}
ul.submenu li{
    background:#FFFFFF;
    border-bottom:1px solid #CFCFCF;
    float:none!important;
    list-style:none;
    margin:0;
    min-width:12em;
}
ul.submenu li a{
    background:#FFFFFF;
    display:block!important;
    padding:0.6em;
    text-decoration:none;
}
ul.submenu li a:hover{
    background:#DDDDDD;
}
.dropdown:hover > ul.submenu{
    background:#778;
    display:block!important;
}

/* modals */
.modal{
    background: rgba(0,0,0,0.8);
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;right: 0;bottom: 0;left: 0;
    z-index: 99999;
    opacity:0;
    pointer-events: none;
    padding:0.6em;
}
.modal-header{
}
.modal:target {
	opacity:1;
	pointer-events: auto;
}

.modal > div.modal-wrap {
	width: 50%;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
}
.btn-close{
	font-weight: bold;
    float:right;
	text-align: center;
	width: 24px;
	text-decoration: none;
}
.btn-close:hover{
    text-decoration:none;
	color:#606061;
}

/* tags */
.tag{
    border:1px solid #CFCFCF;
    border-radius:.3em;
    color:#777;
    display:inline-block;
    margin-bottom:.3em;
    margin-right:.3em;
    padding:.4em .6em;
}
.tag:hover{
    background:#EFEFEF;
    cursor:pointer;
}

/* utilities */
.hidden {
    display: none;
}
