<!doctype html>
<html>
<head>
<title>Ona</title>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<link rel="stylesheet" type="text/css" href="../../../../resources/public/css/pure-min.css">
<link rel="stylesheet" href="../../../../resources/public/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../../../../resources/public/css/style.css">
</head>
<body>
<div id="main-menu">
    <div class="vw-menu container cfix">
        <ul id="menu-items">
            <li class="pure-menu-selected menu-item">
                <div class="dropdown">
                   <a href="user-profile-garrett.html"><i class="fa fa-user"></i> &nbsp;Me</a>
                    <ul class="submenu" id="prof-drop">
                        <li><a href="#">My Profile</a></li>
                        <li><a href="#">My account</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="home.html">Home</a></li>
            <li><div class="dropdown">
                    <a href="#"><i class="fa t-large fa-plus-square"></i></a>
                    <ul class="submenu" id="exp-drop">
                        <li><br/>My Organizations<br/><br/></li>
                        <li><a href="#">
                            <img src="../../../../resources/public/img/who-logo.jpg" class="avatar thumb"/><br/> WHO
                        </a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Help</a></li>
        </ul>
    </div>
</div>

<div id="content" class="container">
    <div class="pure-g-r">
        <div class="pure-u-1-5 bar-left org-details">
            <p>
                <img src="../../../../resources/public/img/ona-logo.png" alt="Organization Logo"/>
                <h4>Ona</h4>
                <i class="icon"></i> <span class="city">Nairobi</span>, <span class="country">NYC</span><br/>
                <a href="http://ona.io" class="org-url">http://ona.io</a>
                <br/><br/>
                <a class="pure-button btn-secondary" href="#">Request to join</a>
            </p>
            <p><br/>
                Lorem lipseum dolor sit amet, consecteur adipisicing elit, sed do
                eiusmod tempor incididunt
            </p>
            <p><br/>
                <h4><a href="#" class="members"> Members (11) </a></h4>
                <ul class="infolist members">
                  <li>Peter</li>
                  <li>Roy</li>
                </ul>
            </p>
            <p><br/>
            <h4><a href="#" class="teams"> Teams </a></h4>
            <ul class="infolist teams">
                <li>Team A</li>
                <li>Team B</li>
            </ul>
            </p>
        </div>

        <div class="pure-u-2-3">
            <ul class="tabs">
                <li>
                    <input type="radio" checked name="tabs" id="tab1">
                    <label for="tab1">Projects</label>
                    <div id="tab-content1" class="tab-content">
                      <div id="tab-inner">
                      <a id="new-project" href="dataset-new.html" class="btn-large pure-button">
                        <i class="fa fa-plus"></i> &nbsp;New Project</a>

                          <table id="datasets-table" class="pure-table pure-table-horizontal info-table">
                              <tbody>
                              <tr>
                                  <td><img class="avatar thumb" src="../../../resources/public/img/avatar.jpg" alt="User"/> <span class="username">garrm</span></td>
                                  <td>
                                      <i class="fa fa-folder"></i>&nbsp;
                                      <strong><span id="project-name">Vitamin A</span></strong> &nbsp;
                                      <div class="dropdown">
                                          <a href="#" class="drop-toggle t-large"><i class="fa fa-sort-down"></i></a>
                                          <ul class="submenu">
                                              <li class="open"><a href="#" id="open">Open</a></li>
                                          </ul>
                                      </div>

                                    <span class="t-state">
                                        &nbsp;Shared &nbsp;&nbsp; Public
                                    </span>
                                      <p>
                                          <span id="no-of-datasets">3 datasets</span> /
                                          <span id="latest">3</span> submissions
                                          <span id="last-project-modification"></span>
                                      </p>
                                  </td>
                                  <td>Added <span id="date-created" >April 17</span></td>
                              </tr>
                              <tr>
                                  <td><img class="avatar thumb" src="../../../resources/public/img/avatar.jpg" alt="User"/> <span class="username">garrm</span></td>
                                  <td>
                                      <i class="fa fa-folder"></i>&nbsp;
                                      <strong>Vitamin B</strong> &nbsp;
                                      <a href="#" class="t-large"><i class="fa fa-sort-down"></i></a>                             <span class="t-state"> &nbsp;Shared</span>
                                      <p>
                                          <span>1</span> dataset /
                                          <span>0</span> submissions
                                          <span></span>
                                      </p>
                                  </td>
                                  <td><span class="rec">Added June 5</span></td>
                              </tr>
                              <tr>
                                  <td><img class="avatar thumb" src="../../../resources/public/img/avatar.jpg" alt="User"/> <span class="username">garrm</span></td>
                                  <td>
                                      <i class="fa fa-folder"></i>&nbsp;
                                      <strong>Vitamin A South Africa</strong> &nbsp;
                                      <a href="#" class="t-large"><i class="fa fa-sort-down"></i></a>
                                      <p>
                                          <span>1</span> dataset/
                                          <span>3</span> submissions
                                          <span>today</span>
                                      </p>
                                  </td>
                                  <td><span class="rec">Added Dec 10 2013</span></td>
                              </tr>
                              <tr>
                                  <td><img class="avatar thumb" src="../../../resources/public/img/avatar.jpg" alt="User"/> <span class="username">garrm</span></td>
                                  <td>
                                      <i class="fa fa-folder"></i>&nbsp;
                                      <strong>Vitamin A Cameroon</strong> &nbsp;
                                      <a href="#" class="t-large"><i class="fa fa-sort-down"></i></a>
                                      <p>
                                          <span>3</span> datasets/
                                          <span>1</span> submissions
                                          <span>3 months ago</span>
                                      </p>
                                  </td>
                                  <td><span class="rec">Added May 23 2013</span></td>
                              </tr>
                              </tbody>
                          </table>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>



</body>
</html>
