<!doctype html>
<html>
<head>
<title>WHO Profile</title>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<link rel="stylesheet" type="text/css" href="../../../../resources/public/css/pure-min.css">
<link rel="stylesheet" href="../../../../resources/public/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../../../../resources/public/css/style.css">
</head>
<body>
<div id="main-menu">
    <div class="vw-menu container cfix">
        <ul id="menu-items">
            <li class="pure-menu-selected menu-item">
                <div class="dropdown">
                   <a href="user-profile-garrett.html"><i class="fa fa-user"></i> &nbsp;Me</a>
                    <ul class="submenu" id="prof-drop">
                        <li><a href="#">My Profile</a></li>
                        <li><a href="#">My account</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="home.html">Home</a></li>
            <li><div class="dropdown">
                    <a href="#"><i class="fa t-large fa-plus-square"></i></a>
                    <ul class="submenu" id="exp-drop">
                        <li><br/>My Organizations<br/><br/></li>
                        <li><a href="#">
                            <img src="/img/who-logo.jpg" class="avatar thumb"/><br/> WHO
                        </a></li>
                    </ul>
                </div> 
            </li>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Help</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="pure-g-r">
        <div class="pure-u-1-5 bar-left">
            <p>
                <img src="/img/who-logo.jpg" alt="Organization Logo"/>
                <h4>Ona</h4>
                <i class="icon"></i> Geneva, NYC<br/>
                <a href="http://ona.io">http://who.int</a>
                <br/><br/>
                <a class="pure-button btn-secondary" href="#">Settings</a><br/><br/>
                <a class="pure-button btn-secondary" href="#">Invite new member</a>
            </p><hr/>
            <p>
                Lorem lipseum dolor sit amet, consecteur adipisicing elit, sed do 
                eiusmod tempor incididunt
            </p><hr/>
            <p>
                <h4>Members (34)</h4>
                <ul class="infolist">
                	<li>Tigus</li>
                    <li>Angela</li>
                    <li>Bo</li>
                </ul>
            </p><hr/>
            <p>
                <h4>Teams (4)</h4>
                <ul class="infolist">
                	<li>Bosses</li>
                    <li>Body stuff</li>
                    <li>Bo</li>
                </ul>
            </p><hr/>
            <p>
                <h4>Collaborators (19)</h4>
                <ul class="infolist">
                	<li>Aamir</li>
                    <li>Anuraj</li>
                    <li>Alain</li>
                </ul>
            </p>
        </div>
        
        <div class="pure-u-2-3">
            <ul class="tabs">
                <li>
                    <input type="radio" checked name="tabs" id="tab1">
                    <label for="tab1">Datasets</label>
                    <div id="tab-content1" class="tab-content">
                        <div class="pure-g-r searchbar">
                            <div class="pure-u-1-2">
                                <a href="../project/new.html" class="pure-button"><i class="fa fa-plus"></i> &nbsp;
                                    New Project</a>
                            </div>
                            <div class="pure-u-1-2">
                                <span class="right">
                                    <form id="search-form" class="pure-form">
                                    <input type="text" name="query" id="search-query"/>
                                    <input class="pure-button" type="submit" value="Search"/>
                                    </form>
                                </span>
                            </div>
                        </div>

                        <table class="pure-table pure-table-horizontal">
                        <tr>
                            <td>
                               <p><img class="avatar thumb" src="/img/who-logo.jpg" alt="WHO"/> WHO<p>
                                Author: <span>garrm</span>
                            </td>
                            <td>
                                <i class="icon"></i> <strong>TB</strong> &nbsp;
                                <div class="dropdown">
                                    <a href="#" class="drop-toggle t-large"><i class="fa fa-sort-down"></i></a>
                                    <ul class="submenu">
                                        <li><a href="#">Open</a></li>
                                        <li><a href="#">Share</a></li>
                                        <li><a href="#">Move to an org</a></li>
                                        <li><a href="#">Add star</a></li>
                                        <li><a href="#">Transfer ownership</a></li>
                                        <li><a href="#">Put in a folder</a></li>
                                        <li><a href="#">Replace xls form</a></li>
                                        <li>
                                            <div class="dropdown menu-context">
                                                <a href="#">Make a copy 
                                                    <i class="fa fa-caret-square-o-right right"></i>
                                                </a>
                                                <ul class="submenu">
                                                    <li><a href="#">Copy to Garrm</a></li>
                                                    <li><a href="#">Copy to WHO (organization)</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="#">Rename</a></li>
                                        <li><a href="#">Download</a></li>
                                        <li><a href="#">Delete</a></li>
                                        <li><a href="#">Cancel</a></li>
                                    </ul>
                                </div>
                                &nbsp; <a href="#"><i class="fa fa-star"></i></a>&nbsp; 
                                <span class="t-state">Public</span>
                                <p>Last record 2 hours ago</p>
                            </td>
                            <td>10 datasets</td>
                        </tr>
                        <tr>
                            <td>
                               <p><img class="avatar thumb" src="/img/who-logo.jpg" alt="User"/> WHO<p>
                                Created: <span>garrm</span>
                            </td>
                            <td>
                                <i class="fa fa-folder"></i> <strong>HIV</strong>
                                <div class="dropdown">
                                    <a href="#" class="drop-toggle t-large"><i class="fa fa-sort-down"></i></a>
                                    <ul class="submenu">
                                        <li><a href="#">Open</a></li>
                                        <li><a href="#">Share</a></li>
                                        <li><a href="#">Move to an org</a></li>
                                        <li><a href="#">Add star</a></li>
                                        <li><a href="#">Transfer ownership</a></li>
                                        <li><a href="#">Put in a folder</a></li>
                                        <li><a href="#">Replace xls form</a></li>
                                        <li>
                                            <div class="dropdown menu-context">
                                                <a href="#">Make a copy 
                                                    <i class="fa fa-caret-square-o-right right"></i>
                                                </a>
                                                <ul class="submenu">
                                                    <li><a href="#">Copy to Garrm</a></li>
                                                    <li><a href="#">Copy to WHO (organization)</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="#">Rename</a></li>
                                        <li><a href="#">Download</a></li>
                                        <li><a href="#">Delete</a></li>
                                        <li><a href="#">Cancel</a></li>
                                    </ul>
                                </div>
                                &nbsp; <a href="#"><i class="fa fa-star"></i></a>
                                <p><span>Pakistan HIV study 2000-2014</span><br/>
                                    Last record 6 hours ago</p>
                            </td>
                            <td>2 datasets</td>
                        </tr>
                        <tr>
                            <td>
                               <p><img class="avatar thumb" src="/img/who-logo.jpg" alt="User"/> WHO<p>
                                Author: <span>tigus</span>
                            </td>
                            <td>
                                <i class="fa fa-folder"></i> <strong>Malaria</strong>
                                <div class="dropdown">
                                    <a href="#" class="drop-toggle t-large"><i class="fa fa-sort-down"></i></a>
                                    <ul class="submenu">
                                        <li><a href="#">Open</a></li>
                                        <li><a href="#">Share</a></li>
                                        <li><a href="#">Move to an org</a></li>
                                        <li><a href="#">Add star</a></li>
                                        <li><a href="#">Transfer ownership</a></li>
                                        <li><a href="#">Put in a folder</a></li>
                                        <li><a href="#">Replace xls form</a></li>
                                        <li>
                                            <div class="dropdown menu-context">
                                                <a href="#">Make a copy 
                                                    <i class="fa fa-caret-square-o-right right"></i>
                                                </a>
                                                <ul class="submenu">
                                                    <li><a href="#">Copy to Garrm</a></li>
                                                    <li><a href="#">Copy to WHO (organization)</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="#">Rename</a></li>
                                        <li><a href="#">Download</a></li>
                                        <li><a href="#">Delete</a></li>
                                        <li><a href="#">Cancel</a></li>
                                    </ul>
                                </div>
                                &nbsp; <a href="#"><i class="fa fa-star"></i></a>&nbsp; 
                                <span class="t-state">Public</span>
                                <p>
                                <span>Worldwide malaria list</span><br/>
                                    Last record 12 hours ago</p>
                            </td>
                            <td>2 datasets</td>
                        </tr>
                        <tr>
                            <td>
                               <p><img class="avatar thumb" src="/img/who-logo.jpg" alt="User"/> WHO<p>
                                Author: <span>tigus</span>
                            </td>
                            <td>
                                <i class="fa fa-folder"></i> <strong>Hypertension</strong>
                                <div class="dropdown">
                                    <a href="#" class="drop-toggle t-large"><i class="fa fa-sort-down"></i></a>
                                    <ul class="submenu">
                                        <li><a href="#">Open</a></li>
                                        <li><a href="#">Share</a></li>
                                        <li><a href="#">Move to an org</a></li>
                                        <li><a href="#">Add star</a></li>
                                        <li><a href="#">Transfer ownership</a></li>
                                        <li><a href="#">Put in a folder</a></li>
                                        <li><a href="#">Replace xls form</a></li>
                                        <li>
                                            <div class="dropdown menu-context">
                                                <a href="#">Make a copy 
                                                    <i class="fa fa-caret-square-o-right right"></i>
                                                </a>
                                                <ul class="submenu">
                                                    <li><a href="#">Copy to Garrm</a></li>
                                                    <li><a href="#">Copy to WHO (organization)</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="#">Rename</a></li>
                                        <li><a href="#">Download</a></li>
                                        <li><a href="#">Delete</a></li>
                                        <li><a href="#">Cancel</a></li>
                                    </ul>
                                </div>
                                &nbsp; <a href="#"><i class="fa fa-star"></i></a>
                                <p><span>Rural Facilities</span><br/>
                                    Last record 2 months ago</p>
                            </td>
                            <td>1 dataset</td>
                        </tr>
                        <tr>
                            <td>
                               <p><img class="avatar thumb" src="/img/who-logo.jpg" alt="User"/> WHO<p>
                                Author: <span>garrm</span>
                            </td>
                            <td>
                                <i class="fa fa-folder"></i> <strong>Hepatitis</strong>
                                <div class="dropdown">
                                    <a href="#" class="drop-toggle t-large"><i class="fa fa-sort-down"></i></a>
                                    <ul class="submenu">
                                        <li><a href="#">Open</a></li>
                                        <li><a href="#">Share</a></li>
                                        <li><a href="#">Move to an org</a></li>
                                        <li><a href="#">Add star</a></li>
                                        <li><a href="#">Transfer ownership</a></li>
                                        <li><a href="#">Put in a folder</a></li>
                                        <li><a href="#">Replace xls form</a></li>
                                        <li>
                                            <div class="dropdown menu-context">
                                                <a href="#">Make a copy 
                                                    <i class="fa fa-caret-square-o-right right"></i>
                                                </a>
                                                <ul class="submenu">
                                                    <li><a href="#">Copy to Garrm</a></li>
                                                    <li><a href="#">Copy to WHO (organization)</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="#">Rename</a></li>
                                        <li><a href="#">Download</a></li>
                                        <li><a href="#">Delete</a></li>
                                        <li><a href="#">Cancel</a></li>
                                    </ul>
                                </div>
                                &nbsp; <a href="#"><i class="fa fa-star"></i></a>
                                <p>Last record 12 hours ago</p>
                            </td>
                            <td>1 dataset</td>
                        </tr>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>