/*custom styles*/
body{
    font-family: Arial!important;
    font-size:13px;
    padding-bottom:5em;
}
h1, h2, h3, h4, h5{
    margin:0.6em 0;
}
a{
    color:#1D5CAD;
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}
.pure-menu li a:hover, .pure-button{
    text-decoration:none!important;
}

/*cleafix*/
.cfix:before,
.cfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cfix {
    *zoom: 1;
}

ul li{
    list-style-type:none;
    margin-bottom:0.6em;
}

table{
    width:100%;
}
table tr th{
    text-align:left;
}
table tr td{
    vertical-align:middle!important;
}
hr{
    border:1px solid #AFAFAF!important;
}

#signin{
    margin-top:27%;
    padding:1em;
}
.bordered{
    border:1px solid #AFAFAF;
}
.cls{
    clear:both;
}
.container{
    margin:0 auto;
    max-width:1024px;
}
.row{
    padding:0.6em;
    margin-bottom:1em;
    max-width:100%;
}

/*text & paragraphs*/
.t-center{ text-align:center; }
.t-right{ text-align:right; }
.t-normal{ font-weight:normal!important; }
.t-large{ font-size:2em; }
.t-state{
    color:#999;
    font-size:0.95em;
}
.t-bubble{
    background:#2B78E4;
    border-radius:1em;
    color:#FFF;
    padding:1em;
}

/*buttons*/
.btn-success, .btn-error, .btn-warning,
.btn-secondary {
    color:#FFF;
}

.btn-success { background: rgb(28, 184, 65); }
.btn-error { background: rgb(202, 60, 60); }
.btn-warning { background: rgb(223, 117, 20); }
.btn-secondary { background: rgb(66, 184, 221); }

.btn-xsmall { font-size: 70%; }
.btn-small { font-size: 85%; }
.btn-large { font-size: 110%; }
.btn-xlarge { font-size: 125%; }

/*floats*/
.right{
    float:right;
}

/*buttons*/
#sidenav .pure-button{
    max-width:100%;
}

#main-menu{
    background:#DEDEDD;
    margin-top:1em;
}
#main-menu .pure-menu{
    background:#DEDEDD;
}
.pure-menu{
    margin-bottom:1em;
}

/*table lists (activity)*/
.table-list{
    border:0;
    margin-bottom:2em;
}
.table-list tr td{
    border:0;
    border-bottom:1em solid #FFFFFF;
}
.table-list.table-blue{ background:#E7F1FE!important; }

.info-table tr td:first-child{
    vertical-align:middle;
}
.fa.fa-star{
    color:#F1C232;
    font-size:1.2em;
}
.fa.fa-star:hover{
    color:#4BB848;
}

/*navbars*/
.bar-right{
    margin-left:3em;
}
.bar-left{
    margin-right:3em;
}

/*map stuff*/
#map{
    min-height:40em;
    overflow:hidden;
    position:relative;
}
#map img{
    position:absolute;
    margin:auto;
    height:100%;
    width:100%;
}

.avatar.thumb{
    width:5em;
}

/*datasets*/
#new_dataset{
    padding-top:2em;
}
#new_dataset .bar-left{
    border-right:1px solid #CFCFCF;
    margin-right:2em;
    padding-right:4em;
}
.uploader{
    border:1px solid #CFCFCF;
    margin-bottom:2em;
    padding:1em;
}

/*teambox*/
.searchbox{
    border-top:1px solid #CFCFCF;
    margin-bottom:2em;
    padding:0.6em 0;
}
.teambox{
    border:1px solid #CFCFCF;
    margin-bottom:4em;
    margin-right:3em;
    padding:2em;
}
.teamheader .pure-button{
    margin-right:4.3em;
}

/*tabs*/
.tabs input[type=radio] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.tabs{
    width: auto;
    list-style: none;
/*    margin-bottom:5em;*/
    position: relative;
    padding: 0;
}
.tabs li{
    float: left;
}
.tabs label{
    display: block;
    cursor: pointer;
    position: relative;
    padding:1em 2em;
}

[id^=tab]:checked + label{
    background: #DEDEDD;
    top: 0;
}

[id^=tab]:checked ~ [id^=tab-content]{
    display: block;
}
.tab-content{
    border-top:1px solid #CFCFCF;
    display: none;
    padding-top:2em;
    position: absolute;
    left: 0;
    text-align: left;
    width: 100%;
    z-index: 2;
}

/*DROPDOWN menus*/
span.dropdown{
    position:relative;
}
ul.submenu{
    background:#FFFFFF;
    border:1px solid #CFCFCF;
    -webkit-box-shadow: 0px 1px 8px 0px rgba(22, 24, 0, 0.6);
    -moz-box-shadow: 0px 1px 8px 0px rgba(22, 24, 0, 0.6);
    box-shadow: 0px 1px 8px 0px rgba(22, 24, 0, 0.6);
    display:none;
    position:absolute;
    margin-left:6em;
    top:3px;
    padding:0;
}
ul.submenu li{
    border-bottom:1px solid #CFCFCF;
    float:none!important;
    list-style:none;
    margin:0;
    min-width:12em;
}
ul.submenu li a{
    background:#FFFFFF;
    display:block;
    padding:0.6em;
    text-decoration:none;
}
ul.submenu li a:hover{
    background:#DDDDDD;
}
.dropdown:hover > ul{
    background:#778;
    display:block;
}

/*modals*/
.modal{
    background: rgba(0,0,0,0.8);
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;right: 0;bottom: 0;left: 0;
    z-index: 99999;
    opacity:0;
    pointer-events: none;
    padding:0.6em;
}
.modal-header{
}
.modal:target {
	opacity:1;
	pointer-events: auto;
}

.modal > div.modal-wrap {
	width: 50%;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
}
.btn-close{
	font-weight: bold;
    float:right;
	text-align: center;
	width: 24px;
	text-decoration: none;
}
.btn-close:hover{
    text-decoration:none;
	color:#606061;
}