/*custom styles*/
body{
    font-family: Arial!important;
    font-size:13px;
    padding-bottom:5em;
}
h1, h2, h3, h4, h5{
    margin:0.6em 0;
}
a{
    color:#1D5CAD;
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}
.pure-menu li a:hover, .pure-button{
    text-decoration:none!important;
}

table{
    width:100%;
}
table tr th{
    text-align:left;
}
table tr td{
    vertical-align:middle!important;
}
hr{
    border:1px solid #AFAFAF!important;
}

#signin{
    margin-top:27%;
    padding:1em;
}
.bordered{
    border:1px solid #AFAFAF;
}
.cls{
    clear:both;
}
.container{
    margin:0 auto;
    max-width:1024px;
}
.row{
    padding:0.6em;
    margin-bottom:1em;
    max-width:100%;
}

/*text & paragraphs*/
.t-center{ text-align:center; }
.t-right{ text-align:right; }
.t-normal{ font-weight:normal!important; }
.t-large{ font-size:2em; }
.t-state{
    color:#999;
    font-size:0.95em;
}

/*buttons*/
.btn-success, .btn-error, .btn-warning,
.btn-secondary {
    color:#FFF;
}

.btn-success { background: rgb(28, 184, 65); }
.btn-error { background: rgb(202, 60, 60); }
.btn-warning { background: rgb(223, 117, 20); }
.btn-secondary { background: rgb(66, 184, 221); }

.btn-xsmall { font-size: 70%; }
.btn-small { font-size: 85%; }
.btn-large { font-size: 110%; }
.btn-xlarge { font-size: 125%; }

/*modals*/
.modal{
    display:none;
    padding:1em;
}

/*floats*/
.right{
    float:right;
}

/*buttons*/
#sidenav .pure-button{
    max-width:100%;
}

#main-menu{
    background:#DEDEDD;
    margin-top:1em;
}
#main-menu .pure-menu{
    background:#DEDEDD;
}
.pure-menu{
    margin-bottom:1em;
}

/*table lists (activity)*/
.table-list{
    border:0;
    margin-bottom:2em;
}
.table-list tr td{
    border:0;
    border-bottom:1em solid #FFFFFF;
}
.table-list.table-blue{ background:#E7F1FE!important; }

.info-table tr td:first-child{
    vertical-align:middle;
}
.fa.fa-star{
    color:#F1C232;
    font-size:1.2em;
}
.fa.fa-star:hover{
    color:#4BB848;
}

/*navbars*/
.bar-right{
    margin-left:3em;
}
.bar-left{
    margin-right:3em;
}

/*map stuff*/
#map{
    min-height:40em;
    overflow:hidden;
    position:relative;
}
#map img{
    position:absolute;
    margin:auto;
    height:100%;
    width:100%;
}

.avatar.thumb{
    width:5em;
}

/*datasets*/
#new_dataset{
    padding-top:2em;
}
#new_dataset .bar-left{
    border-right:1px solid #CFCFCF;
    margin-right:2em;
    padding-right:4em;
}
.uploader{
    border:1px solid #CFCFCF;
    margin-bottom:2em;
    padding:1em;
}

/*teambox*/
.searchbox{
    border-top:1px solid #CFCFCF;
    margin-bottom:2em;
    padding:0.6em 0;
}
.teambox{
    border:1px solid #CFCFCF;
    margin-bottom:4em;
    margin-right:3em;
    padding:2em;
}
.teamheader .pure-button{
    margin-right:4.3em;
}

