<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
</head>
<body>

<div class="nav">
	<span><i class="icon"></i>
        <a href="#">Me</a>
    </span>
    
    <span><a href="#">Home</a></span>
    <span><i class="icon"></i><a href="#">Explore</a></span>
    <span><a href="#">Help</a></span>
</div>

<div class="container">
	<h1>Teams (4)</h1>
    
    <a href="#">Members</a>
    <a href="#">Collaborators</a>

    <div class="row">
        <h2>My Teams</h2>
        <a href="#" class="btn">Edit</a>
        <a href="#" class="btn">Leave</a>
        
        <div>
            <form action="#" method="POST">
                <input type="text" name="add_member"/>
                <input type="submit" value="Add"/>
            </form>
        </div>
    </div>
    
    <div class="row">
    	<div class="col-6">
            <ul>
            	<li>Susan (susan82)<a href="#" class="btn">Remove</a></li>
                <li>Dr. Brisebe (thedocisin)<a href="#" class="btn">Remove</a></li>
                <li>Ngong Road (ng2059)<a href="#" class="btn">Remove</a></li>
                <li>Gat (gatgat)<a href="#" class="btn">Remove</a></li>
                <li>Quaru (qa8385)<a href="#" class="btn">Remove</a></li>
            </ul>
    	</div>
    </div>
</div>

</body>
</html>