<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Bosses</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<link rel="stylesheet" type="text/css" href="css/pure-min.css"/>
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
<div id="main-menu">
    <div class="pure-menu pure-menu-open pure-menu-horizontal container cls">
<!--    <a href="#" class="pure-menu-heading"></a>-->
        <ul>
            <li class="pure-menu-selected">
                <a href="user-profile-garrett.html"><i class="fa fa-user"></i> &nbsp;Me</a>
            </li>
            <li><a href="home.html">Home</a></li>
            <li><a href="#"><i class="fa t-large fa-plus-square"></i></a></li>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Help</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <h3 class="pure-g-r">
        <span class="pure-u-1-6">
            <a href="teams.html">Teams (4)</a>
        </span>
        
        <span class="pure-u-1-6">
            <a href="members.html">Members (34)</a>
        </span>
        
        <span class="pure-u-1-6">
            <a href="#">Collaborators</a>
        </span>
    </h3>

    <div class="pure-g-r row">
        <div class="pure-u-1-3">
            <h2>Bosses</h2>
        </div>
        <div class="pure-u-2-3">
            <a href="#" class="pure-button">Edit</a>
            <a href="#" class="pure-button right">Leave</a>
        </div>
        
        <div>
            <form class="pure-form" action="#" method="POST">
                <input type="text" name="add_member"/>
                <input class="pure-button" type="submit" value="Add"/>
            </form>
        </div>
    </div>
    
    <div class="pure-g-r">
    	<div class="pure-u-1-3">
            <table class="pure-table pure-table-horizontal">
            <tr>
            	<td>Susan (susan82)</td>
            	<td><a href="#" class="pure-button btn-warning">Remove</a></td>
            </tr>
            <tr>
            	<td>Dr. Brisebe (thedocisin)</td>
            	<td><a href="#" class="pure-button btn-warning">Remove</a></td>
            </tr>
            <tr>
            	<td>Ngong Road (ng2059)</td>
            	<td><a href="#" class="pure-button btn-warning">Remove</a></td>
            </tr>
            <tr>
            	<td>Gat (gatgat)</td>
            	<td><a href="#" class="pure-button btn-warning">Remove</a></td>
            </tr>
            <tr>
            	<td>Quaru (qa8385)</td>
            	<td><a href="#" class="pure-button btn-warning">Remove</a></td>
            </tr>
            </table>
    	</div>
        
        <div class="pure-u-2-3">
        	
        </div>
    </div>
</div>

</body>
</html>