<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
</head>
<body>
<div class="nav">
	<span><i class="icon"></i>
        <a href="#">Me</a>
    </span>
    
    <span><a href="#">Home</a></span>
    <span><i class="icon"></i><a href="#">Explore</a></span>
    <span><a href="#">Help</a></span>
</div>

<div class="container">
    <div>
        <h1>Hey Garret Mehl!</h1>

        <span>My Organizations<a href="#">WHO</span>
    </div>
    
    <div class="column">
    	<div class="">
            <ul class="nav-tab">
                <li><a href="#">My Datasets</a></li>
                <li><a href="#">Activity <span class="#">2</span></a></li>
                <li><a href="#">Starred</a></li>
            </ul>
            
            <div class="tab">
                <p>
                    Sort: Last record time | Last edit me

                    <input type="text" name="search_dataset"/>
                    <input type="submit" name="Search"/>
                </p>
                
                <table>
                <tr>
                	<td><img src="img/" alt="User"/> garrm</td>
                    <td>
                    	<strong>Vitamin A</strong> Shared | Public
                        <p>3 records added today</p>
                    </td>
                    <td>34  Records</td>
                </tr>
                <tr>
                	<td><img src="img/" alt="User"/> garrm</td>
                    <td>
                    	<strong>Vitamin B</strong> Shared
                        <p>
                            <span>Nigerian Ministry of Health Study</span><br/>
                            3 records added today
                        </p>
                    </td>
                    <td>755  Records</td>
                </tr>
                <tr>
                	<td><img src="img/" alt="User"/> garrm</td>
                    <td>
                    	<strong>Vitamin A South Africa</strong>
                        <span>September enumeration of S. Africa by Jeff</span><br/>
                        <p>30 records added yesterday</p>
                    </td>
                    <td>2 datasets</td>
                </tr>
                <tr>
                	<td><img src="img/" alt="User"/> garrm</td>
                    <td>
                    	<strong>Vitamin A Cameroon</strong><span>December enumeration of Cameroon by Sandy</span><br/>
                        <p>140 records added 2 months ago</p>
                    </td>
                    <td>1 dataset</td>
                </tr>
                </table>
            </div>
            
            <div class="tab">
                Activity Tab
                <ul>
                	<li>Invite <a href="#">Matt Berg</a> add you to folder 
                        <a href="#">Counties Visited</a> | 1 hr ago
                        <a href="#" class="btn">Leave</a>
                    </li>
                	<li>Invite <a href="#">Matt Berg</a> add you to folder 
                        <a href="#">Counties Visited</a> | 2 months ago
                        <a href="#" class="btn">Leave</a>
                    </li>
                	<li>JoinReq <a href="#">Matt Berg</a> requested to join the folder 
                        <a href="#">Vitamin b</a> | 2 months ago
                        <a href="#" class="btn">Leave</a>
                    </li>
                </ul>
                
                <p>
                    <ul>
                        <li>New data <a href="#">Tigus</a> added 3 records to  
                            <a href="#">WHO/Heapatitis</a> | 2 hrs ago
                        </li>
                        <li>Form edit <a href="#">Tigus</a> added 3 records to  
                            <a href="#">WHO/Hepatitis</a> | 7 days ago
                        </li>
                        <li>Starred <a href="#">Matt Berg</a> edited  
                            <a href="#">TB dataset</a> | 3 wks ago
                        </li>
                        <li>Created dataset <a href="#">Matt Berg</a> created a dataset   
                            in the folder <a href="#">HIV</a> | 6 months ago
                        </li>
                        <li>Make public You shared the dataset 
                            <a href="#">Vitamin A</a> with the public | 2 hrs ago
                        </li>
                    </ul>
                <p>
            </div>
            
            <div class="tab">
                Starred Tab
                <table>
                <tr>
                	<td><a href="#"><img src="img/" alt="Star"/></a></td>
                	<td><img src="img/" alt="User"/> hki</td>
                    <td>
                    	<strong>VAS Cameroon</strong> Shared | Public
                        <p>Last record 2 hrs ago</p>
                    </td>
                    <td>34 Records</td>
                </tr>
                <tr>
                	<td><a href="#"><img src="img/" alt="Star"/></a></td>
                	<td><img src="img/" alt="User"/> hki</td>
                    <td>
                    	<strong>Vitamin B</strong> Shared
                        <p>
                            <span>Nigerian Ministry of Health Study</span><br/>
                            3 records added today
                        </p>
                    </td>
                    <td>755  Records</td>
                </tr>
                <tr>
                	<td><a href="#"><img src="img/" alt="Star"/></a></td>
                	<td><img src="img/" alt="User"/> peter</td>
                    <td>
                    	<strong>Vitamin A South Africa</strong>
                        <span>September enumeration of S. Africa by Jeff</span><br/>
                        <p>30 records added yesterday</p>
                    </td>
                    <td>2 datasets</td>
                </tr>
                <tr>
                	<td><a href="#"><img src="img/" alt="Star"/></a></td>
                	<td><img src="img/" alt="User"/> unicef</td>
                    <td>
                    	<strong>Vitamin A Cameroon</strong><span>December enumeration of Cameroon by Sandy</span><br/>
                        <p>140 records added 2 months ago</p>
                    </td>
                    <td>54 records</td>
                </tr>
                </table>
            </div>
    	</div>
    </div>
        
    <div class="column">
    	<a href="#" class="btn">New Dataset</a><br/>
    	<a href="#" class="btn">Create a folder</a><br/>
    	<a href="#" class="btn">Share a Dataset</a>
        
        <p>
        	<h4>Learn</h4>
            <a href="#">Syntax Library</a><br/>
            <a href="#">Syntax Library</a>
        </p>
        
        <p>
        	Datasets<br/>
            Public: 1 | Private: 3<br/>
            <a href="#">Upgrade</a>
        </p>
    </div>
</div>
    
<div class="modal" id="share_dialog">
	<div class="">
        <a href="#">X</a>
		<h4>Share a dataset</h4>
	</div>
    <div class="">
    	<p>What do you want to share</p>
        <ul>
        	<li>
        		<input type="checkbox" name="data_check"/> 
                <strong>Vitamin A</strong> | Shared | Public
        	</li>
        	<li>
        		<input type="checkbox" name="data_check"/> 
                <strong>Vitamin B</strong> | Shared
        	</li>
        	<li>
        		<input type="checkbox" name="data_check"/> 
                <strong>Vitamin A South Africa</strong>
        	</li>
        	<li>
        		<input type="checkbox" name="data_check"/> 
                <strong>Vitamin A Cameroon</strong>
        	</li>
        </ul>
    </div>
    <div class="">
    	<input type="submit" value=""Next/>
    </div>
</div>

<div class="modal" id="share_settings">
	<div class="">
        <a href="#">X</a>
		<h4>Share a settings for 'Vitamin A' and 'Vitamin B'</h4>
	</div>
    <div class="">
    	<p>Visibility: Private - Specific People <a href="#">Edit</a></p>
        <p>Who has access</p>
        <ul>
        	<li>
                <label>Carl M (carrrr77)</label>
        		<select>
        			<option value="editor" selected>Editor</option>
        			<option value="read-only">Read-only</option>
        		</select>
        	</li>
        	<li>
                <label>Sunny Smith (sunnysocal)</label>
        		<select>
        			<option value="editor">Editor</option>
        			<option value="read-only" selected>Read-only</option>
        		</select>
        	</li>
        </ul>
        <hr/>
        <p>Enter names, emails or groups to invite people..</p>
        <p>
            <label>___________________________________________</label>
            <select>
                <option value="manager" selected>Manager</option>
            </select>
            <a href="#" class="btn">Share datasets</a>
         </p>
    </div>
    <div class="">
        <a href="#" class="btn">back</a>
    	<input class="btn" type="submit" value="next"/>
    </div>
</div>

<div class="modal" id="share_settings">
	<div class="">
        <a href="#">X</a>
		<h4>Share a settings for 'Vitamin A' and 'Vitamin B'</h4>
	</div>
    <div class="">
    	<p>Visibility: Private - Specific People <a href="#">Edit</a></p>
        <p>Who has access</p>
        <ul>
        	<li>
                <label>Carl M (carrrr77)</label>
        		<select>
        			<option value="editor" selected>Editor</option>
        			<option value="read-only">Read-only</option>
        		</select>
        	</li>
        	<li>
                <label>Sunny Smith (sunnysocal)</label>
        		<select>
        			<option value="editor">Editor</option>
        			<option value="read-only" selected>Read-only</option>
        		</select>
        	</li>
        </ul>
        <hr/>
        <p>Enter names, emails or groups to invite people..</p>
        <p>
            <label>___________________________________________</label>
            <select>
                <option value="manager" selected>Manager</option>
            </select>
            <a href="#" class="btn">Share datasets</a>
         </p>
    </div>
    <div class="">
        <a href="#" class="btn">back</a>
    	<input class="btn" type="submit" value="next"/>
    </div>
</div>

<div class="modal" id="share_settings_visibility">
	<div class="">
        <a href="#">X</a>
		<h4>Share a settings for 'Vitamin A Cameroon'</h4>
	</div>
    <div class="">
    	<p>Visibility</p>
        <ul>
        	<li>
                <input type="checkbox" name="private_set"/>
                Private - on creator or org admin access to form and data
        	</li>
        	<li>
                <input type="checkbox" name="private_set"/>
                Private - Specific People: only people with Ona account &amp; expicitly granted access
        	</li>
        	<li>
                <input type="checkbox" name="private_set"/>
                Private - Anyone with a link: dataset not visible on site, but like access to form and data
        	</li>
        	<li>
                <input type="checkbox" name="private_set"/>
                Private - dataset is visible on website, ability for form to be public too
        	</li>
        </ul>
        <hr/>
        <p>Enter names, emails or groups to invite people..</p>
        <p>
            <label>___________________________________________</label>
            <select>
                <option value="manager" selected>Manager</option>
            </select>
            <a href="#" class="btn">Share datasets</a>
         </p>
    </div>
    <div class="">
        <a href="#" class="btn">back</a>
    	<input class="btn" type="submit" value="next"/>
    </div>
</div>
</body>
</html>