<!doctype html>
<html>
<head>
<title>Home</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<link rel="stylesheet" type="text/css" href="css/pure-min.css"/>
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
<div id="main-menu">
    <div class="pure-menu pure-menu-open pure-menu-horizontal container cls">
<!--    <a href="#" class="pure-menu-heading"></a>-->
        <ul>
            <li class="pure-menu-selected">
                <a href="user-profile-garrett.html"><i class="fa fa-user"></i> &nbsp;Me</a>
            </li>
            <li><a href="home.html">Home</a></li>
            <li><a href="#"><i class="fa t-large fa-plus-square"></i></a></li>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Help</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="row pure-g-r">
        <div class="">
            <h2>Hey Garret Mehl!</h2>
        </div>
        
        <div class="">
            <span class="t-normal right">My Organizations: <a href="http://www.who.int">WHO</a></span>
        </div>
    </div>
    
    <div class="pure-g-r">
    	<div class="pure-u-3-4 bar-left">
            <div class="pure-menu pure-menu-open pure-menu-horizontal">
            	<ul class="nav-tab">
                    <li><a href="#">My Datasets</a></li>
                    <li><a href="#">Activity <span class="#">2</span></a></li>
                    <li><a href="#">Starred</a></li>
                </ul>
            </div>
            
            <div class="tab">
                <p>
                    Sort: Last record time | Last edit me

                    <span class="right">
                    	<input type="text" name="search_dataset"/>
                        <input type="submit" value="Search"/>
                    </span>
                </p>
                
                <table class="pure-table pure-table-horizontal">
                <tr>
                	<td><img src="img/" alt="User"/> garrm</td>
                    <td>
                    	<strong>Vitamin A</strong> Shared | Public
                        <p>3 records added today</p>
                    </td>
                    <td>34  Records</td>
                </tr>
                <tr>
                	<td><img src="img/" alt="User"/> garrm</td>
                    <td>
                    	<strong>Vitamin B</strong> Shared
                        <p>
                            <span>Nigerian Ministry of Health Study</span><br/>
                            3 records added today
                        </p>
                    </td>
                    <td>755  Records</td>
                </tr>
                <tr>
                	<td><img src="img/" alt="User"/> garrm</td>
                    <td>
                    	<strong>Vitamin A South Africa</strong>
                        <span>September enumeration of S. Africa by Jeff</span><br/>
                        <p>30 records added yesterday</p>
                    </td>
                    <td>2 datasets</td>
                </tr>
                <tr>
                	<td><img src="img/" alt="User"/> garrm</td>
                    <td>
                    	<strong>Vitamin A Cameroon</strong><span>December enumeration of Cameroon by Sandy</span><br/>
                        <p>140 records added 2 months ago</p>
                    </td>
                    <td>1 dataset</td>
                </tr>
                </table>
            </div>
            
            <div class="tab">
                <h3>Activity Tab</h3>
                
                <table class="table-list table-blue pure-table pure-table-horizontal">
                <tr>
                	<td>Invite</td>
                	<td><a href="#">Matt Berg</a> add you to folder 
                        <a href="#">Counties Visited</a></td>
                    <td>1 hr ago</td>
                    <td><a href="#" class="pure-button">Leave</a></td>
                </tr>
                <tr>
                	<td>Invite</td>
                	<td><a href="#">Matt Berg</a> add you to folder 
                        <a href="#">Counties Visited</a></td>
                    <td>2 months ago</td>
                    <td><a href="#" class="pure-button">Leave</a></td>
                </tr>
                <tr>
                	<td>JoinReq</td>
                	<td><a href="#">Matt Berg</a> requested to join the folder 
                        <a href="#">Vitamin b</a></td>
                    <td>2 months ago</td>
                    <td><a href="#" class="pure-button">Leave</a></td>
                </tr>
                </table>
                
                
                <table class="table-list pure-table pure-table-horizontal">
                <tr>
                	<td>New data</td>
                	<td><a href="#">Tigus</a> added 3 records to  
                            <a href="#">WHO/Heapatitis</a></td>
                    <td>2 hrs ago</td>
                </tr>
                <tr>
                	<td>Form edit</td>
                	<td><a href="#">Tigus</a> added 3 records to  
                            <a href="#">WHO/Hepatitis</a></td>
                    <td>7 days ago</td>
                </tr>
                <tr>
                	<td>Starred</td>
                	<td><a href="#">Matt Berg</a> edited  
                            <a href="#">TB dataset</a></td>
                    <td>3 wks ago</td>
                </tr>
                <tr>
                	<td>Created dataset</td>
                	<td><a href="#">Matt Berg</a> created a dataset   
                            in the folder <a href="#">HIV</a></td>
                    <td>6 months ago</td>
                </tr>
                <tr>
                	<td>Make public</td>
                	<td>You shared the dataset 
                            <a href="#">Vitamin A</a> with the public</td>
                    <td>2 hrs ago</td>
                </tr>
                </table>
            </div>
            
            <div class="tab">
                <h3>Starred Tab</h3>
                <table class="pure-table pure-table-horizontal">
                <tr>
                	<th> </th>
                	<th>User</th>
                    <th>Starred Dataset</th>
                    <th></th>
                </tr>
                <tr>
                	<td><a href="#"><img src="img/" alt="Star"/></a></td>
                	<td><img src="img/" alt="User"/> hki</td>
                    <td>
                    	<strong>VAS Cameroon</strong> Shared | Public
                        <p>Last record 2 hrs ago</p>
                    </td>
                    <td>34 Records</td>
                </tr>
                <tr>
                	<td><a href="#"><img src="img/" alt="Star"/></a></td>
                	<td><img src="img/" alt="User"/> hki</td>
                    <td>
                    	<strong>Vitamin B</strong> Shared
                        <p>
                            <span>Nigerian Ministry of Health Study</span><br/>
                            3 records added today
                        </p>
                    </td>
                    <td>755  Records</td>
                </tr>
                <tr>
                	<td><a href="#"><img src="img/" alt="Star"/></a></td>
                	<td><img src="img/" alt="User"/> peter</td>
                    <td>
                    	<strong>Vitamin A South Africa</strong>
                        <span>September enumeration of S. Africa by Jeff</span><br/>
                        <p>30 records added yesterday</p>
                    </td>
                    <td>2 datasets</td>
                </tr>
                <tr>
                	<td><a href="#"><img src="img/" alt="Star"/></a></td>
                	<td><img src="img/" alt="User"/> unicef</td>
                    <td>
                    	<strong>Vitamin A Cameroon</strong><span>December enumeration of Cameroon by Sandy</span><br/>
                        <p>140 records added 2 months ago</p>
                    </td>
                    <td>54 records</td>
                </tr>
                </table>
            </div>
    	</div>
        
        <div class="pure-u-1-5 right" id="sidenav">
            <a href="dataset-new.html" class="button-large pure-button">New Dataset</a><br/><br/>
            <a href="#" class="button-large pure-button">Create a folder</a><br/><br/>
            <a href="#" class="button-large pure-button">Share a Dataset</a><br/><br/>

            <p>
                <h4>Learn</h4>
                <a href="#">Syntax Library</a><br/>
                <a href="#">Getting Started</a>
            </p>

            <p>
                Datasets<br/>
                Public: 1 | Private: 3<br/>
                <a href="#">Upgrade</a>
            </p>
        </div>
    </div>
</div>
    
<div class="modal" id="share_dialog">
	<div class="">
        <a href="#">X</a>
		<h4>Share a dataset</h4>
	</div>
    <div class="">
    	<p>What do you want to share</p>
        <ul>
        	<li>
        		<input type="checkbox" name="data_check"/> 
                <strong>Vitamin A</strong> | Shared | Public
        	</li>
        	<li>
        		<input type="checkbox" name="data_check"/> 
                <strong>Vitamin B</strong> | Shared
        	</li>
        	<li>
        		<input type="checkbox" name="data_check"/> 
                <strong>Vitamin A South Africa</strong>
        	</li>
        	<li>
        		<input type="checkbox" name="data_check"/> 
                <strong>Vitamin A Cameroon</strong>
        	</li>
        </ul>
    </div>
    <div class="">
    	<input type="submit" value=""Next/>
    </div>
</div>

<div class="modal" id="share_settings">
	<div class="">
        <a href="#">X</a>
		<h4>Share a settings for 'Vitamin A' and 'Vitamin B'</h4>
	</div>
    <div class="">
    	<p>Visibility: Private - Specific People <a href="#">Edit</a></p>
        <p>Who has access</p>
        <ul>
        	<li>
                <label>Carl M (carrrr77)</label>
        		<select>
        			<option value="editor" selected>Editor</option>
        			<option value="read-only">Read-only</option>
        		</select>
        	</li>
        	<li>
                <label>Sunny Smith (sunnysocal)</label>
        		<select>
        			<option value="editor">Editor</option>
        			<option value="read-only" selected>Read-only</option>
        		</select>
        	</li>
        </ul>
        <hr/>
        <p>Enter names, emails or groups to invite people..</p>
        <p>
            <label>___________________________________________</label>
            <select>
                <option value="manager" selected>Manager</option>
            </select>
            <a href="#" class="btn">Share datasets</a>
         </p>
    </div>
    <div class="">
        <a href="#" class="btn">back</a>
    	<input class="btn" type="submit" value="next"/>
    </div>
</div>

<div class="modal" id="share_settings">
	<div class="">
        <a href="#">X</a>
		<h4>Share a settings for 'Vitamin A' and 'Vitamin B'</h4>
	</div>
    <div class="">
    	<p>Visibility: Private - Specific People <a href="#">Edit</a></p>
        <p>Who has access</p>
        <ul>
        	<li>
                <label>Carl M (carrrr77)</label>
        		<select>
        			<option value="editor" selected>Editor</option>
        			<option value="read-only">Read-only</option>
        		</select>
        	</li>
        	<li>
                <label>Sunny Smith (sunnysocal)</label>
        		<select>
        			<option value="editor">Editor</option>
        			<option value="read-only" selected>Read-only</option>
        		</select>
        	</li>
        </ul>
        <hr/>
        <p>Enter names, emails or groups to invite people..</p>
        <p>
            <label>___________________________________________</label>
            <select>
                <option value="manager" selected>Manager</option>
            </select>
            <a href="#" class="btn">Share datasets</a>
         </p>
    </div>
    <div class="">
        <a href="#" class="btn">back</a>
    	<input class="btn" type="submit" value="next"/>
    </div>
</div>

<div class="modal" id="share_settings_visibility">
	<div class="">
        <a href="#">X</a>
		<h4>Share a settings for 'Vitamin A Cameroon'</h4>
	</div>
    <div class="">
    	<p>Visibility</p>
        <ul>
        	<li>
                <input type="checkbox" name="private_set"/>
                Private - on creator or org admin access to form and data
        	</li>
        	<li>
                <input type="checkbox" name="private_set"/>
                Private - Specific People: only people with Ona account &amp; expicitly granted access
        	</li>
        	<li>
                <input type="checkbox" name="private_set"/>
                Private - Anyone with a link: dataset not visible on site, but like access to form and data
        	</li>
        	<li>
                <input type="checkbox" name="private_set"/>
                Private - dataset is visible on website, ability for form to be public too
        	</li>
        </ul>
        <hr/>
        <p>Enter names, emails or groups to invite people..</p>
        <p>
            <label>___________________________________________</label>
            <select>
                <option value="manager" selected>Manager</option>
            </select>
            <a href="#" class="btn">Share datasets</a>
         </p>
    </div>
    <div class="">
        <a href="#" class="btn">back</a>
    	<input class="btn" type="submit" value="next"/>
    </div>
</div>
</body>
</html>