<!doctype html>
<html>
<head>
<title>Members</title>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<link rel="stylesheet" type="text/css" href="css/pure-min.css"/>
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
<div id="main-menu">
    <div class="pure-menu pure-menu-open pure-menu-horizontal container cls">
<!--    <a href="#" class="pure-menu-heading"></a>-->
        <ul>
            <li class="pure-menu-selected">
                <a href="user-profile-garrett.html"><i class="fa fa-user"></i> &nbsp;Me</a>
            </li>
            <li><a href="home.html">Home</a></li>
            <li><a href="#"><i class="fa t-large fa-plus-square"></i></a></li>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Help</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <h3 class="row">
        <span class="pure-u-1-6">
            <a href="teams.html">Teams (4)</a>
        </span>
        
        <span class="pure-u-1-6">
            Members (34)
        </span>
        
        <span class="pure-u-1-6">
            <a href="#">Collaborators</a>
        </span>
    </h3>

    <div>
    	<input type="text" name="search"/>
        <a href="#" class="pure-button">Add Member</a>
    </div>
    
    <div class="row">
        <table class="pure-table pure-table-horizontal">
        <tr>
            <td>
            	<span class="">angang</span><br/>
                <span class="">Angela</span>
            </td>
            <td><a href="#">12 datasets, 15 forms</a></td>
            <td>1 team</td>
            <td><a href="#" class="pure-button button-warning">Remove</a></td>
        </tr>
        <tr>
            <td>
            	<span class="">bobo</span><br/>
                <span class="">Bo</span>
            </td>
            <td><a href="#">3 datasets, 6 forms</a></td>
            <td>2 teams</td>
            <td><a href="#" class="pure-button button-warning">Remove</a></td>
        </tr>
        <tr>
            <td>
            	<span class="">tigtig</span><br/>
                <span class="">Tigus</span>
            </td>
            <td><a href="#">2 datasets, 6 forms</a></td>
            <td>2 teams</td>
            <td><a href="#" class="pure-button button-warning">Remove</a></td>
        </tr>
        <tr>
            <td>
            	<span class="">rowo</span><br/>
                <span class="">Roger Wong</span>
            </td>
            <td><a href="#">14 datasets, 6 forms</a></td>
            <td>3 teams</td>
            <td><a href="#" class="pure-button button-warning">Remove</a></td>
        </tr>
        <tr>
            <td>
            	<span class="">pld</span><br/>
                <span class="">Peter</span>
            </td>
            <td><a href="#">3 datasets, 6 forms</a></td>
            <td>2 teams</td>
            <td><a href="#" class="pure-button button-warning">Remove</a></td>
        </tr>
        <tr>
            <td>
            	<span class="">lweya</span><br/>
                <span class="">Larry</span>
            </td>
            <td><a href="#">8 datasets, 6 forms</a></td>
            <td>4 teams</td>
            <td><a href="#" class="pure-button button-warning">Remove</a></td>
        </tr>
        </table>
    </div>
</div>

</body>
</html>