<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
</head>
<body>

<div class="nav">
	<span><i class="icon"></i>
        <a href="#">Me</a>
    </span>
    
    <span><a href="#">Home</a></span>
    <span><i class="icon"></i><a href="#">Explore</a></span>
    <span><a href="#">Help</a></span>
</div>

<div class="container">
    <div class="">
        <h1>
            <a href="#">Teams (4)</a> |
            <span>Members (34)</span> | 
            <a href="#">Collaborators</a>
        </h1>
    </div>

    <div>
    	<input type="text" name="search"/>
        <a href="#">Add Member</a>
    </div>
    
    <div class="row">
    	<table>
        <tr>
            <td>
            	<span class="">angang</span><br/>
                <span class="">Angela</span>
            </td>
            <td><a href="#">12 datasets, 15 forms</a></td>
            <td>1 team</td>
            <td><a href="#" class="btn">Remove</a></td>
        </tr>
        <tr>
            <td>
            	<span class="">bobo</span><br/>
                <span class="">Bo</span>
            </td>
            <td><a href="#">3 datasets, 6 forms</a></td>
            <td>2 teams</td>
            <td><a href="#" class="btn">Remove</a></td>
        </tr>
        <tr>
            <td>
            	<span class="">tigtig</span><br/>
                <span class="">Tigus</span>
            </td>
            <td><a href="#">2 datasets, 6 forms</a></td>
            <td>2 teams</td>
            <td><a href="#" class="btn">Remove</a></td>
        </tr>
        <tr>
            <td>
            	<span class="">rowo</span><br/>
                <span class="">Roger Wong</span>
            </td>
            <td><a href="#">14 datasets, 6 forms</a></td>
            <td>3 teams</td>
            <td><a href="#" class="btn">Remove</a></td>
        </tr>
        <tr>
            <td>
            	<span class="">pld</span><br/>
                <span class="">Peter</span>
            </td>
            <td><a href="#">3 datasets, 6 forms</a></td>
            <td>2 teams</td>
            <td><a href="#" class="btn">Remove</a></td>
        </tr>
        <tr>
            <td>
            	<span class="">lweya</span><br/>
                <span class="">Larry</span>
            </td>
            <td><a href="#">8 datasets, 6 forms</a></td>
            <td>4 teams</td>
            <td><a href="#" class="btn">Remove</a></td>
        </tr>
        </table>
    </div>
</div>

</body>
</html>