<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Ona Profile</title>
</head>
<body>

<div class="nav">
	<span><i class="icon"></i>
        <a href="#">Me</a>
    </span>
    
    <span><a href="#">Home</a></span>
    <span><i class="icon"></i><a href="#">Explore</a></span>
    <span><a href="#">Help</a></span>
</div>

<div class="container">
    <div class="row">
    	<div class="col-3">
            <p>
                <img src="img/org-logo.png" alt="Organization Logo"/>
                <h4>Ona</h4>
                <i class="icon"></i> Nairobi, NYC<br/>
                <a href="http://ona.io">http://ona.io</a>
                <br/>
                <a class="btn" href="#">Request to join</a>
            </p><hr/>
            <p>
            	<h3>ACTIVITY</h3>
                Last record 6 hours ago
            </p><hr/>
            <p>
                <h4>Members (11)</h4>
                <ul>
                	<li>Peter</li>
                    <li>Roy</li>
                </ul>
            </p>
    	</div>
        
    	<div class="col-9">
            <ul class="nav-tab">
                <li><a href="#">Datasets</a></li>
            </ul>
            
            <div class="">
            	<table>
                <tr>
                	<td>
                	   <p><img class="avatar" src="img/ona-logo.png" alt="Ona"/> Ona<p>
                        Author: <span>mberg</span>
                    </td>
                    <td>
                    	<i class="icon"></i> <strong>Pizza</strong> | Star
                        <p>Last record 2 hours ago</p>
                    </td>
                    <td>10 datasets</td>
                </tr>
                <tr>
                	<td>
                	   <p><img src="img/" alt="User"/> Ona<p>
                        Created: <span>larry</span>
                    </td>
                    <td>
                    	<i class="icon"></i> <strong>Office Checkins</strong> | Star
                        <p>Last record 6 hours ago</p>
                    </td>
                    <td>2 datasets</td>
                </tr>
                <tr>
                	<td>
                	   <p><img src="img/" alt="User"/> Ona<p>
                        Author: <span>pld</span>
                    </td>
                    <td>
                    	<i class="icon"></i> <strong>Countries Visited</strong> | Star
                        <span>List of places we've all worked</span>
                        <p>Last record 12 hours ago</p>
                    </td>
                    <td>1 dataset</td>
                </tr>
                </table>
            </div>
    	</div>
    </div>
</div>



</body>
</html>