<!doctype html>
<html>
<head>
<title>Ona</title>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<link rel="stylesheet" type="text/css" href="css/pure-min.css"/>
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
<div id="main-menu">
    <div class="pure-menu pure-menu-open pure-menu-horizontal container cls">
<!--    <a href="#" class="pure-menu-heading"></a>-->
        <ul>
            <li class="pure-menu-selected">
                <a href="user-profile-garrett.html"><i class="fa fa-user"></i> &nbsp;Me</a>
            </li>
            <li><a href="home.html">Home</a></li>
            <li><a href="#"><i class="fa t-large fa-plus-square"></i></a></li>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Help</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="pure-g-r">
        <div class="pure-u-1-5 bar-left">
            <p>
                <img src="img/ona-logo.png" alt="Organization Logo"/>
                <h4>Ona</h4>
                <i class="icon"></i> Nairobi, NYC<br/>
                <a href="http://ona.io">http://ona.io</a>
                <br/><br/>
                <a class="pure-button" href="#">Request to join</a>
            </p>
            <p><br/>
            	<h3>ACTIVITY</h3>
                Last record 6 hours ago
            </p>
            <p><br/>
                <h4>Members (11)</h4>
                <ul>
                	<li>Peter</li>
                    <li>Roy</li>
                </ul>
            </p>
        </div>
        
        <div class="pure-u-4-5">
            <div class="pure-menu pure-menu-open pure-menu-horizontal container">
                <ul class="nav-tab">
                    <li><a href="#">Datasets</a></li>
                </ul>
            </div>
            
            <div class="">
                <table class="pure-table pure-table-horizontal">
                <tr>
                	<td>
                	   <p><img class="avatar thumb" src="img/ona-logo.png" alt="Ona"/> Ona<p>
                        Author: <span>mberg</span>
                    </td>
                    <td>
                    	<i class="icon"></i> <strong>Pizza</strong> | Star
                        <p>Last record 2 hours ago</p>
                    </td>
                    <td>10 datasets</td>
                </tr>
                <tr>
                	<td>
                	   <p><img class="avatar thumb" src="img/avatar.jpg" alt="User"/> Ona<p>
                        Created: <span>larry</span>
                    </td>
                    <td>
                    	<i class="icon"></i> <strong>Office Checkins</strong> | Star
                        <p>Last record 6 hours ago</p>
                    </td>
                    <td>2 datasets</td>
                </tr>
                <tr>
                	<td>
                	   <p><img class="avatar thumb" src="img/avatar.jpg" alt="User"/> Ona<p>
                        Author: <span>pld</span>
                    </td>
                    <td>
                    	<i class="icon"></i> <strong>Countries Visited</strong> | Star
                        <span>List of places we've all worked</span>
                        <p>Last record 12 hours ago</p>
                    </td>
                    <td>1 dataset</td>
                </tr>
                </table>
            </div>
        </div>
    </div>
</div>



</body>
</html>