<!doctype html>
<html>
<head>
<title>Ona Profile</title>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<link rel="stylesheet" type="text/css" href="css/pure-min.css"/>
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
<div id="main-menu">
    <div class="pure-menu pure-menu-open pure-menu-horizontal container cls">
<!--    <a href="#" class="pure-menu-heading"></a>-->
        <ul>
            <li class="pure-menu-selected">
                <a href="user-profile-garrett.html"><i class="fa fa-user"></i> &nbsp;Me</a>
            </li>
            <li><a href="home.html">Home</a></li>
            <li><a href="#"><i class="fa t-large fa-plus-square"></i></a></li>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Help</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="pure-g-r">
        <div class="pure-u-1-5">
            <p>
                <img src="img/who-logo.jpg" alt="Organization Logo"/>
                <h4>Ona</h4>
                <i class="icon"></i> Geneva, NYC<br/>
                <a href="http://ona.io">http://who.int</a>
                <br/>
                <a class="btn" href="#">Settings</a>
                <a class="btn" href="#">Invite new member</a>
            </p><hr/>
            <p>
                Lorem lipseum dolor sit amet, consecteur adipisicing elit, sed do 
                eiusmod tempor incididunt
            </p><hr/>
            <p>
                <h4>Members (34)</h4>
                <ul>
                	<li>Tigus</li>
                    <li>Angela</li>
                    <li>Bo</li>
                </ul>
            </p><hr/>
            <p>
                <h4>Teams (4)</h4>
                <ul>
                	<li>Bosses</li>
                    <li>Body stuff</li>
                    <li>Bo</li>
                </ul>
            </p><hr/>
            <p>
                <h4>Collaborators (19)</h4>
                <ul>
                	<li>Aamir</li>
                    <li>Anuraj</li>
                    <li>Alain</li>
                </ul>
            </p><hr/>
        </div>
        
        <div class="pure-u-4-5">
            <div class="pure-menu pure-menu-open pure-menu-horizontal container">
                <ul class="nav-tab">
                    <li><a href="#">Datasets</a></li>
                </ul>
            </div>
            
            <div class="">
                <div class="row">
                	<a href="#" class="pure-button">New Dataset</a> 
                	<a href="#" class="pure-button">Create Folder</a>
                </div>
                
                <table class="pure-table pure-table-horizontal">
                <tr>
                	<td>
                	   <p><img class="avatar thumb" src="img/who-logo.jpg" alt="WHO"/> WHO<p>
                        Author: <span>garrm</span>
                    </td>
                    <td>
                    	<i class="icon"></i> <strong>TB</strong> | Star | Public
                        <p>Last record 2 hours ago</p>
                    </td>
                    <td>10 datasets</td>
                </tr>
                <tr>
                	<td>
                	   <p><img class="avatar thumb" src="img/who-logo.jpg" alt="User"/> WHO<p>
                        Created: <span>garrm</span>
                    </td>
                    <td>
                    	<i class="icon"></i> <strong>HIV</strong> | Star
                        <p>Pakistan HIV study 2000-2014</p>
                        <p>Last record 6 hours ago</p>
                    </td>
                    <td>2 datasets</td>
                </tr>
                <tr>
                	<td>
                	   <p><img class="avatar thumb" src="img/who-logo.jpg" alt="User"/> WHO<p>
                        Author: <span>tigus</span>
                    </td>
                    <td>
                    	<i class="icon"></i> <strong>Malaria</strong> | Star | Public
                        <p>Worldwide malaria list</p>
                        <p>Last record 12 hours ago</p>
                    </td>
                    <td>2 datasets</td>
                </tr>
                <tr>
                	<td>
                	   <p><img class="avatar thumb" src="img/who-logo.jpg" alt="User"/> WHO<p>
                        Author: <span>tigus</span>
                    </td>
                    <td>
                    	<i class="icon"></i> <strong>Hypertension</strong> | Star
                        <span>Rural Facilities</span>
                        <p>Last record 2 months ago</p>
                    </td>
                    <td>1 dataset</td>
                </tr>
                <tr>
                	<td>
                	   <p><img class="avatar thumb" src="img/who-logo.jpg" alt="User"/> WHO<p>
                        Author: <span>garrm</span>
                    </td>
                    <td>
                    	<i class="icon"></i> <strong>Hepatitis</strong> | Star
                        <p>Last record 12 hours ago</p>
                    </td>
                    <td>1 dataset</td>
                </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
    	<div class="col-3">
    	</div>
        
    	<div class="col-9">
            
            <div class="">
            	
            </div>
    	</div>
    </div>
</div>

</body>
</html>