<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Ona Profile</title>
</head>
<body>

<div class="nav">
	<span><i class="icon"></i>
        <a href="#">Me</a>
    </span>
    
    <span><a href="#">Home</a></span>
    <span><i class="icon"></i><a href="#">Explore</a></span>
    <span><a href="#">Help</a></span>
</div>

<div class="container">
    <div class="row">
    	<div class="col-3">
            <p>
                <img src="img/who-logo.png" alt="Organization Logo"/>
                <h4>Ona</h4>
                <i class="icon"></i> Geneva, NYC<br/>
                <a href="http://ona.io">http://who.int</a>
                <br/>
                <a class="btn" href="#">Settings</a>
                <a class="btn" href="#">Invite new member</a>
            </p><hr/>
            <p>
                Lorem lipseum dolor sit amet, consecteur adipisicing elit, sed do 
                eiusmod tempor incididunt
            </p><hr/>
            <p>
                <h4>Members (34)</h4>
                <ul>
                	<li>Tigus</li>
                    <li>Angela</li>
                    <li>Bo</li>
                </ul>
            </p><hr/>
            <p>
                <h4>Teams (4)</h4>
                <ul>
                	<li>Bosses</li>
                    <li>Body stuff</li>
                    <li>Bo</li>
                </ul>
            </p><hr/>
            <p>
                <h4>Collaborators (19)</h4>
                <ul>
                	<li>Aamir</li>
                    <li>Anuraj</li>
                    <li>Alain</li>
                </ul>
            </p><hr/>
    	</div>
        
    	<div class="col-9">
            <ul class="nav-tab">
                <li><a href="#">Datasets</a></li>
            </ul>
            
            <div class="">
            	<table>
                <tr>
                	<td>
                	   <p><img class="avatar" src="img/who-logo.jpg" alt="WHO"/> WHO<p>
                        Author: <span>garrm</span>
                    </td>
                    <td>
                    	<i class="icon"></i> <strong>TB</strong> | Star | Public
                        <p>Last record 2 hours ago</p>
                    </td>
                    <td>10 datasets</td>
                </tr>
                <tr>
                	<td>
                	   <p><img src="img/" alt="User"/> WHO<p>
                        Created: <span>garrm</span>
                    </td>
                    <td>
                    	<i class="icon"></i> <strong>HIV</strong> | Star
                        <p>Pakistan HIV study 2000-2014</p>
                        <p>Last record 6 hours ago</p>
                    </td>
                    <td>2 datasets</td>
                </tr>
                <tr>
                	<td>
                	   <p><img src="img/" alt="User"/> WHO<p>
                        Author: <span>tigus</span>
                    </td>
                    <td>
                    	<i class="icon"></i> <strong>Malaria</strong> | Star | Public
                        <p>Worldwide malaria list</p>
                        <p>Last record 12 hours ago</p>
                    </td>
                    <td>2 datasets</td>
                </tr>
                <tr>
                	<td>
                	   <p><img src="img/" alt="User"/> WHO<p>
                        Author: <span>tigus</span>
                    </td>
                    <td>
                    	<i class="icon"></i> <strong>Hypertension</strong> | Star
                        <span>Rural Facilities</span>
                        <p>Last record 2 months ago</p>
                    </td>
                    <td>1 dataset</td>
                </tr>
                <tr>
                	<td>
                	   <p><img src="img/" alt="User"/> WHO<p>
                        Author: <span>garrm</span>
                    </td>
                    <td>
                    	<i class="icon"></i> <strong>Hepatitis</strong> | Star
                        <p>Last record 12 hours ago</p>
                    </td>
                    <td>1 dataset</td>
                </tr>
                </table>
            </div>
    	</div>
    </div>
</div>

</body>
</html>