<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
</head>
<body>

<div class="nav">
	<span><i class="icon"></i>
        <a href="#">Me</a>
    </span>
    
    <span><a href="#">Home</a></span>
    <span><i class="icon"></i><a href="#">Explore</a></span>
    <span><a href="#">Help</a></span>
</div>

<div class="container">
	<h1>Teams (4)</h1>
    
    <a href="#">Members</a>
    <a href="#">Collaborators</a>

    <div>
    	<input type="text" name="search"/>
    </div>
    
    <div class="row">
        <h2>My Teams</h2>
        <a href="#" class="btn">New Team</a>
    </div>
    
    <div class="row">
    	<div class="col-6">
            <h3>Bosses</h3>
            <p>
                <span>5 members | 10 Datasets</span>
                <a href="#" class="btn">Leave</a>
            </p>
            
            <p>
            	Susan, Dr, Brisebe, Ngong Road, Quaru
            </p>
    	</div>
        
    	<div class="col-6">
            <h3>Body Stuff</h3>
            <p>
                <span>1 members | 1 Datasets</span>
                <a href="#" class="btn">Join</a>
            </p>
            
            <p>
            	Matt
            </p>
    	</div>
        
        <div class="row">
            <h2>Organization Teams</h2>
            <a href="#" class="btn">New Team</a>
        </div>
        
    	<div class="col-6">
            <h3>Admin</h3>
            <p>
                <span>2 members</span>
                <a href="#" class="btn">Leave</a>
            </p>
            
            <p> </p>
    	</div>
        
    	<div class="col-6">
            <h3>All Org Members</h3>
            <p>
                <span>34 members</span>
                <a href="#" class="btn">Leave</a>
            </p>
            
            <p> </p>
    	</div>
    </div>
</div>



</body>
</html>