<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Garrett Mehl</title>
</head>
<body>

<div class="nav">
	<span><i class="icon"></i>
        <a href="#">Me</a>
    </span>
    
    <span><a href="#">Home</a></span>
    <span><i class="icon"></i><a href="#">Explore</a></span>
    <span><a href="#">Help</a></span>
</div>

<div class="container">
    <div class="row">
    	<div class="col-3">
            <h4>Garrett Mehl</h4>
            <p>
                <img class="avatar" src="img/gmehl.jpg" alt="Garrett Mehl"/>
                <a href="#" class="btn">Settings</a>
                <a href="#" class="btn">New Dataset</a>
            </p><hr/>
            <p>
                <ul>
                	<li>Title/occupation: Health</li>
                    <li>Organization: <a href="org-profile-joined.html">WHO</a></li>
                    <li>Website: <a href="http://who.int">www.who.int</a></li>
                    <li>Twitter: <a href="https://www.twitter.com/">@garrett_mehl</a></li>
                    <li>Based in: Geneva, Switzerland</li>
                    <li>Works in: India, mHealth</li>
                    <li>Member since: Jan 17, 2014</li>
                </ul>
            </p>
    	</div>
        
    	<div class="col-9">
            <ul class="nav-tab">
                <li><a href="#">12 Datasets (2 public)</a></li>
                <li><a href="#">234 Records</a></li>
                <li><a href="#">1 Org</a></li>
            </ul>
            
            <div class="">
            	<table>
                <tr>
                	<td>
                	   <p><img class="avatar" src="img/who-logo.jpg" alt="WHO"/> garrm<p>
                    </td>
                    <td>
                    	<i class="icon"></i> <strong>Vitamin A</strong> | Star | Shared | Public
                        <p>Last record 2 hours ago</p>
                    </td>
                    <td>34 Records</td>
                </tr>
                <tr>
                	<td>
                	   <p><img src="img/avatar.jpg" alt="User"/> garrm<p>
                    </td>
                    <td>
                    	<i class="icon"></i> <strong>Vitamin B</strong> | Star | Shared
                        <p>Nigerian Ministry of Health Study</p>
                        <p>Last record 6 hours ago</p>
                    </td>
                    <td>755 Records</td>
                </tr>
                <tr>
                	<td>
                	   <p><img src="img/avatar.jpg" alt="User"/> garrm<p>
                    </td>
                    <td>
                    	<i class="icon"></i> <strong>Vitamin A South Africa</strong> | Star | Public
                        <p>September enumeration of S. Africa by Jeff</p>
                        <p>Last record 12 hours ago</p>
                    </td>
                    <td>2 datasets</td>
                </tr>
                <tr>
                	<td>
                	   <p><img src="img/who-logo.jpg" alt="WHO"/> <a href="org-profile-joined.html">ONA</a><p>
                    </td>
                    <td>
                    	<i class="icon"></i> <strong>Vitamin A Cameroon</strong> | Star
                        <span>December enumeration of Cameroon by Sandy</span>
                        <p>Last record 2 months ago</p>
                    </td>
                    <td>1 dataset</td>
                </tr>
                <tr>
                	<td>
                	   <p><img src="img/avatar.jpg" alt="User"/> WHO<p>
                    </td>
                    <td>
                    	<i class="icon"></i> <strong>Vitamin C</strong> | Star
                        <p>Last record 1 year ago</p>
                    </td>
                    <td>222 Records</td>
                </tr>
                </table>
            </div>
    	</div>
    </div>
</div>

</body>
</html>