<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Garrett Mehl</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<link rel="stylesheet" type="text/css" href="css/pure-min.css"/>
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
<div id="main-menu">
    <div class="pure-menu pure-menu-open pure-menu-horizontal container cls">
<!--    <a href="#" class="pure-menu-heading"></a>-->
        <ul>
            <li class="pure-menu-selected">
                <a href="user-profile-garrett.html"><i class="fa fa-user"></i> &nbsp;Me</a>
            </li>
            <li><a href="home.html">Home</a></li>
            <li><a href="#"><i class="fa t-large fa-plus-square"></i></a></li>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Help</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="pure-g-r">
        <div class="pure-u-1-5 bar-left">
            <h2>Garrett Mehl</h2>
            <p>
                <img class="avatar" src="img/gmehl.jpg" alt="Garrett Mehl"/><br/><br/>
                <a href="#" class="pure-button btn-secondary">Settings</a> 
                <a href="#" class="pure-button btn-secondary">New Dataset</a>
            </p><hr/>
            <p>
                <ul>
                	<li>Title/occupation: Health</li>
                    <li>Organization: <a href="org-profile-joined.html">WHO</a></li>
                    <li>Website: <a href="http://who.int">www.who.int</a></li>
                    <li>Twitter: <a href="https://www.twitter.com/">@garrett_mehl</a></li>
                    <li>Based in: Geneva, Switzerland</li>
                    <li>Works in: India, mHealth</li>
                    <li>Member since: Jan 17, 2014</li>
                </ul>
            </p>
        </div>
        
        <div class="pure-u-2-3">
            <div class="pure-menu pure-menu-open pure-menu-horizontal container">
                <ul class="nav-tab">
                    <li><a href="#">12 Datasets (2 public)</a></li>
                    <li><a href="#">234 Records</a></li>
                    <li><a href="#">1 Org</a></li>
                </ul>
            </div>
            
            <div class="">
                <table class="pure-table pure-table-horizontal">
                <tr>
                	<td>
                	   <p><img class="avatar thumb" src="img/who-logo.jpg" alt="WHO"/> garrm<p>
                    </td>
                    <td>
                    	<i class="icon"></i> <strong>Vitamin A</strong> | Star | Shared | Public
                        <p>Last record 2 hours ago</p>
                    </td>
                    <td>34 Records</td>
                </tr>
                <tr>
                	<td>
                	   <p><img class="avatar thumb" src="img/avatar.jpg" alt="User"/> garrm<p>
                    </td>
                    <td>
                    	<i class="icon"></i> <strong>Vitamin B</strong> | Star | Shared
                        <p>Nigerian Ministry of Health Study</p>
                        <p>Last record 6 hours ago</p>
                    </td>
                    <td>755 Records</td>
                </tr>
                <tr>
                	<td>
                	   <p><img class="avatar thumb" src="img/avatar.jpg" alt="User"/> garrm<p>
                    </td>
                    <td>
                    	<i class="icon"></i> <strong>Vitamin A South Africa</strong> | Star | Public
                        <p>September enumeration of S. Africa by Jeff</p>
                        <p>Last record 12 hours ago</p>
                    </td>
                    <td>2 datasets</td>
                </tr>
                <tr>
                	<td>
                	   <p><img class="avatar thumb" src="img/ona-logo.png" alt="ONA"/> <a href="org-profile-joined.html">ONA</a><p>
                    </td>
                    <td>
                    	<i class="icon"></i> <strong>Vitamin A Cameroon</strong> | Star
                        <span>December enumeration of Cameroon by Sandy</span>
                        <p>Last record 2 months ago</p>
                    </td>
                    <td>1 dataset</td>
                </tr>
                <tr>
                	<td>
                	   <p><img class="avatar thumb" src="img/avatar.jpg" alt="User"/> WHO<p>
                    </td>
                    <td>
                    	<i class="icon"></i> <strong>Vitamin C</strong> | Star
                        <p>Last record 1 year ago</p>
                    </td>
                    <td>222 Records</td>
                </tr>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>