<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Ona Profile</title>
</head>
<body>

<div class="nav">
	<span><i class="icon"></i>
        <a href="#">Me</a>
    </span>
    
    <span><a href="#">Home</a></span>
    <span><i class="icon"></i><a href="#">Explore</a></span>
    <span><a href="#">Help</a></span>
</div>

<div class="container">
    <div class="row">
    	<div class="col-3">
            <h4>Matt Berg</h4>
            <p>
                <img class="avatar" src="img/mberg.png" alt="User avatar"/>
            </p><hr/>
            <p>
                <ul>
                	<li>Title/occupation: ICT</li>
                    <li>Organization: <a href="org-profile.html">Ona</a></li>
                    <li>Website: <a href="http://ona.io">www.ona.io</a></li>
                    <li>Twitter: <a href="https://www.twitter.com/">@mberg</a></li>
                    <li>Based in: Nairobi</li>
                    <li>Works in: India, East, ICT4D</li>
                    <li>Member since: Nov 17, 2013</li>
                </ul>
            </p>
    	</div>
        
    	<div class="col-9">
            <ul class="nav-tab">
                <li><a href="#">12 Datasets (2 public)</a></li>
                <li><a href="#">234 Records</a></li>
                <li><a href="#">1 Org</a></li>
            </ul>
            
            <div class="">
            	<table>
                <tr>
                	<td>
                	   <img src="img/" alt="User"/> <a href="org-profile.html">Ona</a>
                    </td>
                    <td>
                    	<i class="icon"></i> <strong>Vitamin A Cameroon</strong> | Star
                        <p>December enumeration of Cameroon by Sandy</p>
                        <p>Last record 2 hours ago</p>
                    </td>
                    <td>1 dataset</td>
                </tr>
                <tr>
                	<td>
                	   <p><img src="img/" alt="User"/> mberg<p>
                        Created: <span>garrm</span>
                    </td>
                    <td>
                    	<i class="icon"></i> <strong>Vitamin C</strong> | Star
                        <p>Pakistan HIV study 2000-2014</p>
                        <p>Last record 1 year ago</p>
                    </td>
                    <td>222 records</td>
                </tr>
                </table>
            </div>
    	</div>
    </div>
</div>

</body>
</html>