<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Matt Berg</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<link rel="stylesheet" type="text/css" href="css/pure-min.css"/>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
<div id="main-menu">
    <div class="pure-menu pure-menu-open pure-menu-horizontal container cls">
<!--    <a href="#" class="pure-menu-heading"></a>-->
        <ul>
            <li class="pure-menu-selected">
                <i class="icon"></i><a href="#">Me</a>
            </li>
            <li><a href="#">Home</a></li>
            <li><a href="#"><i class="icon"></i></a></li>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Help</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="pure-g-r">
        <div class="pure-u-1-5 bar-left">
            <h2>Matt Berg</h2>
            <p>
                <img class="avatar" src="img/mberg.png" alt="User avatar"/>
            </p><hr/>
            <p>
                <ul>
                	<li>Title/occupation: ICT</li>
                    <li>Organization: <a href="org-profile.html">Ona</a></li>
                    <li>Website: <a href="http://ona.io">www.ona.io</a></li>
                    <li>Twitter: <a href="https://www.twitter.com/">@mberg</a></li>
                    <li>Based in: Nairobi</li>
                    <li>Works in: India, East, ICT4D</li>
                    <li>Member since: Nov 17, 2013</li>
                </ul>
            </p>
        </div>
        
        <div class="pure-u-2-3">
            <div class="pure-menu pure-menu-open pure-menu-horizontal container">
                <ul class="nav-tab">
                    <li><a href="#">12 Datasets (2 public)</a></li>
                    <li><a href="#">234 Records</a></li>
                    <li><a href="#">1 Org</a></li>
                </ul>
            </div>
            
            <div class="">
                <table class="pure-table pure-table-horizontal">
                <tr>
                	<td>
                	   <img class="avatar thumb" src="img/avatar.jpg" alt="User"/> <a href="org-profile.html">Ona</a>
                    </td>
                    <td>
                    	<i class="icon"></i> <strong>Vitamin A Cameroon</strong> | Star
                        <p>December enumeration of Cameroon by Sandy</p>
                        <p>Last record 2 hours ago</p>
                    </td>
                    <td>1 dataset</td>
                </tr>
                <tr>
                	<td>
                	   <p><img class="avatar thumb" src="img/avatar.jpg" alt="User"/> mberg<p>
                        Created: <span>garrm</span>
                    </td>
                    <td>
                    	<i class="icon"></i> <strong>Vitamin C</strong> | Star
                        <p>Pakistan HIV study 2000-2014</p>
                        <p>Last record 1 year ago</p>
                    </td>
                    <td>222 records</td>
                </tr>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>