<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
</head>
<body>
<div class="nav">
	<span><i class="icon"></i>
        <a href="#">Me</a>
    </span>
    
    <span><a href="#">Home</a></span>
    <span><i class="icon"></i><a href="#">Explore</a></span>
    <span><a href="#">Help</a></span>
</div>

<div class="container">
    <div>
        <h1>Vitamin A Settings
            <a href="#" class="">go back</a>
        </h1>
    </div>
    
    <div class="column">
        <div class="">
            <h3>Name</h3>
            <p>
                <label>NAME</label>
            	<input type="text" name="dataset_name" value="Vitamin A"/>
            </p>
            
            <p>
                <label>DESCRIPTION</label>
            	<textarea cols="40" rows="3" 
                    placeholder="Add a placeholder">Lorem ipsum dolor sit amet, consectetur dipisicing elit, sedd do euismod tempor incididunt</textarea><br/>
            </p>
            <p>
                <h3>Form settings</h3>
                <h3>Dataset settings</h3>
            </p>
            
            <p>
                <a href="#" class="btn">Delete form and dataset</a>
            </p>
        </div>
    </div>
</div>

</body>
</html>