<!doctype html>
<html>
<head>
<title>Vitamin A Settings</title>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<link rel="stylesheet" type="text/css" href="css/pure-min.css"/>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
<div id="main-menu">
    <div class="pure-menu pure-menu-open pure-menu-horizontal container cls">
<!--    <a href="#" class="pure-menu-heading"></a>-->
        <ul>
            <li class="pure-menu-selected">
                <i class="icon"></i><a href="#">Me</a>
            </li>
            <li><a href="#">Home</a></li>
            <li><a href="#"><i class="icon"></i></a></li>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Help</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <div>
        <h1>Vitamin A Settings
            <a href="#" class="right">go back</a>
        </h1>
    </div>
    
    <div class="column">
        <div class="">
            <h3>Name</h3>
            <p>
                <label>NAME</label><br/>
            	<input type="text" name="dataset_name" value="Vitamin A"/>
            </p>
            
            <p>
                <label>DESCRIPTION</label><br/>
            	<textarea cols="40" rows="3" 
                    placeholder="Add a placeholder">Lorem ipsum dolor sit amet, consectetur dipisicing elit, sedd do euismod tempor incididunt</textarea><br/>
            </p>
            <p>
                <h3>Form settings</h3>
                <h3>Dataset settings</h3>
            </p>
            
            <p>
                <a href="#" class="pure-button button-large button-warning">Delete form and dataset</a>
            </p>
        </div>
    </div>
</div>

</body>
</html>