<!doctype html>
<html>
<head>
<title>Vitamin A South Africa</title>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<link rel="stylesheet" type="text/css" href="css/pure-min.css"/>
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
<div id="main-menu">
    <div class="pure-menu pure-menu-open pure-menu-horizontal container cls">
<!--    <a href="#" class="pure-menu-heading"></a>-->
        <ul>
            <li class="pure-menu-selected">
                <a href="user-profile-garrett.html"><i class="fa fa-user"></i> &nbsp;Me</a>
            </li>
            <li><a href="home.html">Home</a></li>
            <li><a href="#"><i class="fa t-large fa-plus-square"></i></a></li>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Help</a></li>
        </ul>
    </div>
</div>

<div class="container">
	<h1>Vitamin A South Africa</h1>
    
    <div class="pure-g-r">
        <div class="pure-u-2-5">
            <i class="icon"></i> 
            <a href="#">garrm</a>
        </div>
        
        <div class="pure-u-3-5">
        	<span class="right">
                <i class="icon">settings</i> |
                <i class="icon">star</i> |
                <a href="#" class="pure-button">Share</a>  
                <a href="#" class="pure-button">Download All</a>
            </span>
        </div>
        <hr class="cls"/>
    </div>
    
    <div class="pure-g-r">
        <div class="pure-u-1-5">
            <p>
            	<h3>DESCRIPTION</h3>
                Lorem lipseum dolor sit amet, consecteur adipisicing elit, sed do 
                eiusmod tempor incididunt
            </p>
            
            <p>
            	<h3>ACTIVITY</h3>
                16 submissions today<br/>
                Latest about 2 hours ago
            </p>
        </div>
        
        <div class="pure-u-4-5">
            <div class="row">
                <span class="rec">2 Datasets</span> 
                <span class="right"><a href="#" class="pure-button">Add Dataset</a></span>
            </div>
            
            <table class="pure-table pure-table-horizontal">
            <tr>
                <td><img src="img/" alt="User"/> garrm</td>
                <td>
                    <strong>A</strong> Star
                    <p>Last record 2 hrs ago</p>
                </td>
                <td>34 Records</td>
            </tr>
            <tr>
                <td><img src="img/" alt="User"/> garrm</td>
                <td>
                    <strong>Vitamin B</strong> Shared
                    <p>
                        <span>Nigerian Ministry of Health Study</span><br/>
                        3 records added today
                    </p>
                </td>
                <td>755  Records</td>
            </tr>
            </table>
        </div>
    </div>
</div>



</body>
</html>