<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
</head>
<body>

<div class="nav">
	<span><i class="icon"></i>
        <a href="#">Me</a>
    </span>
    
    <span><a href="#">Home</a></span>
    <span><i class="icon"></i><a href="#">Explore</a></span>
    <span><a href="#">Help</a></span>
</div>

<div class="container">
	<h1>Vitamin A South Africa / B</h1>
    
    <i class="icon">set</i> |
    <i class="icon">star</i> |
    <a href="#" class="btn">Share</a> | 
    <a href="#" class="btn">Download all</a>

    <div class="border-btm">
        <i class="icon"></i> 
    	<a href="#">garrm</a> | <span class="rec">34 Records</span>
        <hr/>
    </div>
    
    <div class="row">
    	<div class="col-3">
            <p>
            	<h3>DESCRIPTION</h3>
                Lorem lipseum dolor sit amet, consecteur adipisicing elit, sed do 
                eiusmod tempor incididunt
            </p>
            
            <p>
            	<h3>ACTIVITY</h3>
                Last record 6 hours ago
            </p>
    	</div>
        
    	<div class="col-9">
            <p>
            	<a href="#">Map</a> | <a href="#">Table</a> | <a href="#">Charts</a> |
                <a href="#">Photos</a> | <a href="#">Stats</a>
                
                <span class="">
                    <span class="rec">755 Records</span> 
                	<a href="#"><i class="icon">Fullscreen</i></a>
                </span>
            <p>
            
            <div id="map">
            	<img src="img/map.jpg" alt="Data map"/>
            </div>
    	</div>
    </div>
</div>



</body>
</html>