<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
</head>
<body>

<div class="nav">
	<span><i class="icon"></i>
        <a href="#">Me</a>
    </span>
    
    <span><a href="#">Home</a></span>
    <span><i class="icon"></i><a href="#">Explore</a></span>
    <span><a href="#">Help</a></span>
</div>

<div class="container">
	<h1>Vitamin A South Africa</h1>
    
    <i class="icon">set</i> |
    <i class="icon">star</i> |
    <a href="#" class="btn">Distribute Survey</a> | 
    <a href="#" class="btn">Share</a> | 
    <a href="#" class="btn">Download</a>

    <div class="border-btm">
        <i class="icon"></i> 
    	<a href="#">garrm</a> | <span class="rec">34 Records</span>
        <hr/>
    </div>
    
    <div class="row">
        <h2>My Teams</h2>
        <a href="#" class="btn">New Team</a>
    </div>
    
    <div class="row">
    	<div class="col-3">
            <p>
                <a href="#" class="btn">Add Record</a>
            </p>
            
            <p>
            	<h3>DESCRIPTION</h3>
                Lorem lipseum dolor sit amet, consecteur adipisicing elit, sed do 
                eiusmod tempor incididunt
            </p>
            
            <p>
            	<h3>ACTIVITY</h3>
                16 submissions today<br/>
                Latest about 2 hours ago
            </p>
    	</div>
        
    	<div class="col-9">
            <span class="">
                <span class="rec">2 Datasets</span> 
                <a href="#">Add Dataset</a>
            </span>
            <hr/>
            
            <table>
            <tr>
                <td><img src="img/" alt="User"/> garrm</td>
                <td>
                    <strong>A</strong> Star
                    <p>Last record 2 hrs ago</p>
                </td>
                <td>34 Records</td>
            </tr>
            <tr>
                <td><img src="img/" alt="User"/> garrm</td>
                <td>
                    <strong>Vitamin B</strong> Shared
                    <p>
                        <span>Nigerian Ministry of Health Study</span><br/>
                        3 records added today
                    </p>
                </td>
                <td>755  Records</td>
            </tr>
            </table>
    	</div>
    </div>
</div>



</body>
</html>