<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
</head>
<body>

<div class="nav">
	<span><i class="icon"></i>
        <a href="#">Me</a>
    </span>
    
    <span><a href="#">Home</a></span>
    <span><i class="icon"></i><a href="#">Explore</a></span>
    <span><a href="#">Help</a></span>
</div>

<div class="container">
	<h1>Vitamin A</h1>
    
    <i class="icon">set</i> |
    <i class="icon">star</i> |
    <a href="#" class="btn">Distribute Survey</a> | 
    <a href="#" class="btn">Share</a> | 
    <a href="#" class="btn">Download</a>

    <div class="border-btm">
        <i class="icon"></i> 
    	<a href="#">garrm</a> | <span class="rec">34 Records</span>
        <hr/>
    </div>
    
    <div class="row">
        <h2>My Teams</h2>
        <a href="#" class="btn">New Team</a>
    </div>
    
    <div class="row">
    	<div class="col-3">
            <p>
                <a href="#" class="btn">Add Record</a>
            </p>
            
            <p>
            	<h3>DESCRIPTION</h3>
                Lorem lipseum dolor sit amet, consecteur adipisicing elit, sed do 
                eiusmod tempor incididunt
            </p>
            
            <p>
            	<h3>ACTIVITY</h3>
                16 submissions today<br/>
                Latest about 2 hours ago
            </p>
            
            <p>
            	<h3>FORM SOURCE</h3>
                <a href="#">vitamin-a.xls</a>
            </p>
    	</div>
        
    	<div class="col-9">
            <p>
            	<a href="#">Map</a> | <a href="#">Table</a> | <a href="#">Charts</a> |
                <a href="#">Photos</a> | <a href="#">Stats</a>
                
                <span class="">
                    <span class="rec">34 Records</span> 
                	<a href="#"><i class="icon">Fullscreen</i></a>
                </span>
            <p>
            
            <div id="map">
            	<img src="img/map.jpg" alt="Data map"/>
            </div>
    	</div>
    </div>
</div>

<div class="modal" id="share_settings">
	<div class="">
        <a href="#">X</a>
		<h4>Record</h4>
	</div>
    
    <form action="#" method="POST">
    <div class="">
        <p>Enketo</p>
    </div>
    <div class="">
    	<input class="btn" type="submit" value="Submit"/>
    </div>
    </form>
</div>

</body>
</html>